TEMED SEO Editor.json
{
  "name": "TEMED SEO Editor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "temed-seo-editor-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        560
      ],
      "id": "70f11f0f-1d3e-4fe8-b0d8-88309b052c11",
      "name": "Webhook",
      "webhookId": "a5c67045-5c07-49b0-a4bb-b63cf5fb418b"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst headers = input.headers ?? {};\n\nconst EXPECTED_SECRET = 'd3c16ee617c2b31dd4bef182ebf5540624f4b5739f4145b5de9006f60fe215d3';\n\nconst providedSecret =\n  headers['x-temed-seo-secret']\n  ?? headers['X-Temed-Seo-Secret']\n  ?? body.secret\n  ?? '';\n\nconst action = String(body.action ?? '').trim();\nconst requestId = String(\n  body.request_id\n  ?? body.requestId\n  ?? `seo-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nconst data = body.data ?? body.payload ?? body.brief ?? {};\n\nconst allowedActions = new Set([\n  'health',\n  'research_sources',\n  'generate_outline',\n  'generate_article',\n  'extract_med_questions',\n  'apply_med_answers',\n  'validate_article',\n  'revise_article',\n  'approve_outline',\n  'load_existing_article',\n  'load_dictionaries',\n  'download_xml',\n  'create_bitrix_draft'\n]);\n\nfunction fail(errorCode, message, httpStatus = 400, details = {}) {\n  return [{\n    json: {\n      valid: false,\n      success: false,\n      action,\n      request_id: requestId,\n      error_code: errorCode,\n      message,\n      details,\n      http_status: httpStatus\n    }\n  }];\n}\n\nif (!EXPECTED_SECRET || EXPECTED_SECRET === 'CHANGE_ME_BEFORE_ACTIVATION') {\n  return fail(\n    'WORKFLOW_SECRET_NOT_CONFIGURED',\n    'В workflow не настроен секрет X-TEMED-SEO-SECRET.',\n    503\n  );\n}\n\nif (!providedSecret || providedSecret !== EXPECTED_SECRET) {\n  return fail('UNAUTHORIZED', 'Неверный секрет запроса.', 401);\n}\n\nif (!allowedActions.has(action)) {\n  return fail(\n    'UNKNOWN_ACTION',\n    'Неизвестное действие.',\n    400,\n    { allowed_actions: [...allowedActions] }\n  );\n}\n\nconst generationId = String(\n  body.generation_id\n  ?? data.generation_id\n  ?? `gen-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nfunction compactJson(value) {\n  return JSON.stringify(value ?? {}, null, 2);\n}\n\nfunction articleFromPayload(payload) {\n  return payload.article\n    ?? payload.result\n    ?? payload.current_article\n    ?? {\n      name: payload.result_name ?? '',\n      code: payload.result_code ?? '',\n      seo_title: payload.result_seo_title ?? '',\n      meta_description: payload.result_meta_description ?? '',\n      preview_text: payload.result_preview ?? '',\n      short_answer: payload.result_short_answer ?? '',\n      detail_html: payload.result_detail_html ?? '',\n      sources: payload.result_sources ?? '',\n      related_articles: payload.result_related_articles ?? ''\n    };\n}\n\nconst commonRules = `\nТы — медицинский SEO-редактор сети клиник TEMED.\n\nОБЯЗАТЕЛЬНЫЕ ПРАВИЛА:\n1. Работай только с данными, переданными в JSON. Не придумывай факты о TEMED, врачах, клиниках, методах, ценах, длительности, количестве процедур и результатах.\n2. Внутренние факты TEMED и комментарии врача имеют приоритет. Их смысл нельзя менять.\n3. Не ставь заочный диагноз и не назначай лечение конкретному читателю.\n4. Не обещай результат и не используй гарантии эффективности.\n5. Числа и медицинские утверждения допускаются только при наличии указанного источника. Если источника нет, убери точное число или пометь утверждение как требующее проверки.\n6. Не выдумывай статьи, исследования, DOI, PMID, URL, клинические рекомендации или цитаты.\n7. Ответ возвращай только как один корректный JSON-объект без markdown и без пояснений вокруг JSON.\n8. Язык результата — русский.\n`;\n\nlet direct = false;\nlet response = null;\nlet prompt = '';\n\nif (action === 'health') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      status: 'ok',\n      workflow: 'TEMED SEO Editor v1',\n      ai_model: 'gpt-5.4-mini'\n    }\n  };\n}\n\nif (action === 'approve_outline') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      approved: true,\n      outline: data.generated_outline ?? data.outline ?? ''\n    }\n  };\n}\n\nif (action === 'load_existing_article' || action === 'load_dictionaries') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      handled_by: 'TEMED SEO PHP proxy',\n      message: 'Это действие выполняется напрямую через защищённый PHP proxy, без n8n.'\n    }\n  };\n}\n\nif (action === 'download_xml') {\n  direct = true;\n  response = {\n    success: false,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    error_code: 'BITRIX_XML_SCHEMA_NOT_CONFIGURED',\n    message: 'XML-экспорт не включён: сначала нужно зафиксировать точную схему импорта инфоблока 81.',\n    http_status: 501\n  };\n}\n\nif (action === 'create_bitrix_draft') {\n  direct = true;\n  response = {\n    success: false,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    error_code: 'WRITE_API_DISABLED',\n    message: 'Запись в Bitrix отключена. Workflow работает в безопасном read-only режиме.',\n    http_status: 501\n  };\n}\n\nif (action === 'research_sources') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь исследовательский пакет по теме статьи.\n\nВажно: у тебя нет права объявлять источник проверенным только по названию или URL.\nРаздели источники на:\n- user_provided — источник дал редактор;\n- metadata_only — можно оценить только по переданным метаданным;\n- needs_manual_verification — требуется ручная проверка полного текста;\n- rejected — источник не подходит или недостаточно данных.\n\nНе выдумывай новые библиографические записи.\nДопускается предложить только поисковые запросы для PubMed, Google Scholar, российских клинических рекомендаций и сайтов профильных профессиональных обществ.\n\nФОРМАТ:\n{\n  \"approved_sources_text\": \"строки только по источникам, которые можно оставить редактору на утверждение\",\n  \"candidates\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"source_type\": \"\",\n      \"status\": \"user_provided|metadata_only|needs_manual_verification|rejected\",\n      \"why_relevant\": \"\",\n      \"limitations\": \"\"\n    }\n  ],\n  \"search_queries\": [\n    {\n      \"database\": \"PubMed|Google Scholar|Клинические рекомендации РФ|Профессиональное общество\",\n      \"query\": \"\",\n      \"purpose\": \"\"\n    }\n  ],\n  \"claims_needing_sources\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_outline') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nСоставь подробный план медицинской SEO-статьи строго по выбранной структуре.\nЕсли в данных передан structure_config, соблюдай порядок, обязательность, repeat, instructions, global_instructions, forbidden и seo.\nНе пиши саму статью.\n\nФОРМАТ:\n{\n  \"outline_text\": \"редактируемый текстовый план\",\n  \"outline\": [\n    {\n      \"order\": 1,\n      \"block\": \"\",\n      \"heading\": \"\",\n      \"heading_level\": \"intro|h2|h3\",\n      \"required\": true,\n      \"purpose\": \"\",\n      \"key_points\": [],\n      \"source_requirements\": [],\n      \"medical_review_points\": []\n    }\n  ],\n  \"missing_information\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_article') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь полный черновик статьи по утверждённому плану и выбранной структуре.\n\nТРЕБОВАНИЯ К HTML:\n- detail_html содержит только содержимое статьи, без html, head и body;\n- используй h2, h3, p, ul, ol, table, blockquote;\n- не используй inline-стили, script, iframe;\n- первый абзац должен сразу отвечать на основной запрос, если структура не требует иного;\n- источники в тексте должны соответствовать массиву sources;\n- дисклеймер обязателен;\n- не добавляй несуществующие формы, цены и контакты.\n\nФОРМАТ:\n{\n  \"name\": \"\",\n  \"code\": \"\",\n  \"seo_title\": \"\",\n  \"meta_description\": \"\",\n  \"preview_text\": \"\",\n  \"short_answer\": \"\",\n  \"detail_html\": \"\",\n  \"sources\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"identifier\": \"\",\n      \"used_for\": []\n    }\n  ],\n  \"related_articles\": [],\n  \"medical_review_questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\"\n    }\n  ],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'extract_med_questions') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроведи медицинскую редакторскую проверку готовой статьи.\nНе переписывай текст.\nВыдели только формулировки, которые требуют подтверждения врача:\n- конкретные схемы, сроки, дозировки, число процедур;\n- показания и противопоказания;\n- причинно-следственные медицинские утверждения;\n- прогноз и ожидаемый эффект;\n- спорные или слишком категоричные утверждения;\n- данные без источника.\n\nФОРМАТ:\n{\n  \"questions_text\": \"пронумерованный список для передачи врачу\",\n  \"questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\",\n      \"suggested_safe_wording\": \"\"\n    }\n  ],\n  \"critical_count\": 0,\n  \"warnings\": []\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'apply_med_answers') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nВнеси ответы медицинского редактора в статью точечно.\nМеняй только те фрагменты, к которым относятся ответы.\nНе улучшай стиль остального текста и не генерируй статью заново.\nЕсли ответ врача неоднозначен, не меняй фрагмент и добавь предупреждение.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changes\": [\n    {\n      \"question_id\": \"\",\n      \"before\": \"\",\n      \"after\": \"\",\n      \"status\": \"changed|deleted|unchanged\"\n    }\n  ],\n  \"unresolved_questions\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nВОПРОСЫ И ОТВЕТЫ:\n${compactJson({\n  questions: data.med_questions ?? data.questions ?? '',\n  answers: data.med_answers ?? data.answers ?? ''\n})}\n`;\n}\n\nif (action === 'validate_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроверь статью перед публикацией. Ничего не переписывай.\n\nПРОВЕРКИ:\n- наличие обязательных блоков выбранной структуры;\n- выполнение дополнительных требований;\n- нарушения forbidden и YMYL;\n- гарантии результата, заочная диагностика и назначения;\n- числа и медицинские утверждения без источника;\n- соответствие источников тексту;\n- title, description, code, preview, short_answer;\n- HTML: запрещённые теги, незакрытые конструкции, дубли H1;\n- дисклеймер;\n- логичность CTA;\n- соответствие автора и медредактора переданным данным.\n\nФОРМАТ:\n{\n  \"passed\": false,\n  \"score\": 0,\n  \"report_text\": \"\",\n  \"errors\": [\n    {\n      \"code\": \"\",\n      \"severity\": \"critical|major|minor\",\n      \"location\": \"\",\n      \"message\": \"\",\n      \"recommended_fix\": \"\"\n    }\n  ],\n  \"warnings\": [],\n  \"checks\": [\n    {\n      \"name\": \"\",\n      \"passed\": true,\n      \"details\": \"\"\n    }\n  ]\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nТЕХНИЧЕСКОЕ ЗАДАНИЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'revise_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПереработай только фрагменты, прямо указанные в замечаниях.\nНе меняй согласованные части, структуру, факты TEMED и ответы врача без необходимости.\nВерни полный объект статьи после точечной правки.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changed_sections\": [\n    {\n      \"location\": \"\",\n      \"reason\": \"\",\n      \"before\": \"\",\n      \"after\": \"\"\n    }\n  ],\n  \"unresolved_comments\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nЗАМЕЧАНИЯ:\n${compactJson(data.revision_request ?? data.comments ?? data.validation_report ?? '')}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (!direct && !prompt) {\n  return fail(\n    'ACTION_NOT_IMPLEMENTED',\n    'Для действия не сформирован обработчик.',\n    501\n  );\n}\n\nreturn [{\n  json: {\n    valid: true,\n    success: true,\n    direct,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data,\n    prompt,\n    response,\n    http_status: response?.http_status ?? 200\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        560
      ],
      "id": "86502041-1e99-4789-904c-07253c8303c4",
      "name": "Prepare request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "request_valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        560
      ],
      "id": "483a1021-9766-4a91-84af-ba66c5845675",
      "name": "IF request valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        736
      ],
      "id": "13fd26a3-7dd5-4a83-9239-be7da7acae94",
      "name": "Respond request error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "direct_response",
              "leftValue": "={{ $json.direct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        496
      ],
      "id": "4155880c-6361-4379-82ae-b83f07c9e58e",
      "name": "IF direct response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        384
      ],
      "id": "212ed581-e071-44f3-a608-aa9615ba1a74",
      "name": "Respond direct"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        896,
        592
      ],
      "id": "b5a4a450-6758-4634-bb3e-c64382f951a9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "AYsswqQnu0370Vfk",
          "name": "OpenAi [ temed | cid ]"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prepared = $node['Prepare request'].json;\n\nlet raw =\n  $json.message?.content\n  ?? $json.text\n  ?? $json.content\n  ?? $json.output\n  ?? $json.response\n  ?? '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nfunction extractObject(text) {\n  try {\n    return JSON.parse(text);\n  } catch (_) {}\n\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n\n  if (start >= 0 && end > start) {\n    return JSON.parse(text.slice(start, end + 1));\n  }\n\n  throw new Error('JSON object not found');\n}\n\ntry {\n  const parsed = extractObject(raw);\n\n  if (!parsed || Array.isArray(parsed) || typeof parsed !== 'object') {\n    throw new Error('Model returned non-object JSON');\n  }\n\n  return [{\n    json: {\n      success: true,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      data: parsed,\n      meta: {\n        model: 'gpt-5.4-mini',\n        workflow: 'TEMED SEO Editor v1',\n        completed_at: new Date().toISOString()\n      },\n      http_status: 200\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      error_code: 'MODEL_JSON_PARSE_ERROR',\n      message: 'Модель вернула ответ, который не удалось разобрать как JSON.',\n      details: {\n        error: String(error.message || error),\n        raw_preview: raw.slice(0, 2000)\n      },\n      http_status: 502\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        592
      ],
      "id": "6ab6c840-ef38-4195-8f5d-e0b4d9741be4",
      "name": "Parse model JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "model_success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        592
      ],
      "id": "9d15bf69-d048-4dc6-a297-e8a389c1cf23",
      "name": "IF model result valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        512
      ],
      "id": "ce085c32-baac-4a84-bb1b-65fd842eb11b",
      "name": "Respond success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 502 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        704
      ],
      "id": "6720b501-56a0-4c54-aeb7-b99d4c48f577",
      "name": "Respond model error"
    },
    {
      "parameters": {
        "content": "## TEMED SEO Editor v1\n\nОдин защищённый webhook для AI-операций редактора SEO-статей.\n\n### Поддерживаемые действия\n- research_sources\n- generate_outline\n- generate_article\n- extract_med_questions\n- apply_med_answers\n- validate_article\n- revise_article\n- health\n\n### Перед активацией\nВ узле **Prepare request** замените `CHANGE_ME_BEFORE_ACTIVATION` на секрет из `/internal/seo-editor/config.php` (`n8n_secret`).\n\nPHP-прокси должен отправлять этот секрет в заголовке `X-TEMED-SEO-SECRET`.\n\nЗапись в Bitrix намеренно отключена.",
        "height": 484,
        "width": 788
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -32
      ],
      "id": "a5d435d2-07d2-4e33-b862-7be831d0a698",
      "name": "Setup notes"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare request": {
      "main": [
        [
          {
            "node": "IF request valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF request valid": {
      "main": [
        [
          {
            "node": "IF direct response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond request error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF direct response": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse model JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse model JSON": {
      "main": [
        [
          {
            "node": "IF model result valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF model result valid": {
      "main": [
        [
          {
            "node": "Respond success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond model error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bccedff4-5772-4642-9d2b-72cd4d582731",
  "meta": {
    "instanceId": "0ac9a1d8e7b09fb0f504f7d90e7ec36636be03ea59af94bfa8326a51562dd3c5"
  },
  "id": "8Cif7ZuMYMFITNVE",
  "tags": []
}