n8n/TEMED SEO Editor.json
{
  "name": "TEMED SEO Editor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "temed-seo-editor-v1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        560
      ],
      "id": "70f11f0f-1d3e-4fe8-b0d8-88309b052c11",
      "name": "Webhook",
      "webhookId": "a5c67045-5c07-49b0-a4bb-b63cf5fb418b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dEZNp80MtjGMeS1w",
          "name": "X-Temed-Seo-Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst action = String(body.action ?? '').trim();\nconst requestId = String(\n  body.request_id\n  ?? body.requestId\n  ?? `seo-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nconst data = body.data ?? body.payload ?? body.brief ?? {};\n\nconst allowedActions = new Set([\n  'health',\n  'research_sources',\n  'generate_outline',\n  'generate_article',\n  'extract_med_questions',\n  'apply_med_answers',\n  'validate_article',\n  'revise_article',\n  'approve_outline',\n  'load_existing_article',\n  'load_dictionaries',\n  'assistant_chat',\n  'start_external_uniqueness',\n  'get_external_uniqueness',\n  'assistant_refresh_knowledge',\n  'create_bitrix_draft',\n  'draft_health',\n  'draft_get_dictionaries',\n  'draft_list',\n  'draft_get',\n  'draft_create',\n  'draft_save_version',\n  'draft_list_versions',\n  'draft_get_version',\n  'draft_restore_version',\n  'draft_delete',\n  'draft_restore',\n  'draft_purge',\n  'draft_log_xml_export'\n]);\nconst isDraftAction = action.startsWith('draft_');\n\nfunction fail(errorCode, message, httpStatus = 400, details = {}) {\n  return [{\n    json: {\n      valid: false,\n      success: false,\n      action,\n      request_id: requestId,\n      error_code: errorCode,\n      message,\n      details,\n      http_status: httpStatus\n    }\n  }];\n}\n\nif (!allowedActions.has(action) && !isDraftAction) {\n  return fail(\n    'UNKNOWN_ACTION',\n    'Неизвестное действие.',\n    400,\n    { allowed_actions: [...allowedActions] }\n  );\n}\n\nconst generationId = String(\n  body.generation_id\n  ?? data.generation_id\n  ?? `gen-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nfunction compactJson(value) {\n  return JSON.stringify(value ?? {}, null, 2);\n}\n\nfunction articleFromPayload(payload) {\n  return payload.article\n    ?? payload.result\n    ?? payload.current_article\n    ?? {\n      name: payload.result_name ?? '',\n      code: payload.result_code ?? '',\n      seo_title: payload.result_seo_title ?? '',\n      meta_description: payload.result_meta_description ?? '',\n      preview_text: payload.result_preview ?? '',\n      short_answer: payload.result_short_answer ?? '',\n      detail_html: payload.result_detail_html ?? '',\n      sources: payload.result_sources ?? '',\n      related_articles: payload.result_related_articles ?? ''\n    };\n}\n\nconst commonRules = `\nТы — медицинский SEO-редактор сети клиник TEMED.\n\nОБЯЗАТЕЛЬНЫЕ ПРАВИЛА:\n1. Работай только с данными, переданными в JSON. Не придумывай факты о TEMED, врачах, клиниках, методах, ценах, длительности, количестве процедур и результатах.\n2. Внутренние факты TEMED и комментарии врача имеют приоритет. Их смысл нельзя менять.\n3. Не ставь заочный диагноз и не назначай лечение конкретному читателю.\n4. Не обещай результат и не используй гарантии эффективности.\n5. Числа и медицинские утверждения допускаются только при наличии указанного источника. Если источника нет, убери точное число или пометь утверждение как требующее проверки.\n6. Не выдумывай статьи, исследования, DOI, PMID, URL, клинические рекомендации или цитаты.\n7. Ответ возвращай только как один корректный JSON-объект без markdown и без пояснений вокруг JSON.\n8. Язык результата — русский.\n`;\n\nlet direct = false;\nlet response = null;\nlet prompt = '';\n\nif (action === 'health') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      status: 'ok',\n      workflow: 'TEMED SEO Editor v1',\n      ai_model: 'gpt-5.4-mini'\n    }\n  };\n}\n\nif (action === 'approve_outline') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      approved: true,\n      outline: data.generated_outline ?? data.outline ?? ''\n    }\n  };\n}\n\nif (action === 'load_existing_article' || action === 'load_dictionaries') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      handled_by: 'TEMED SEO PHP proxy',\n      message: 'Это действие выполняется напрямую через защищённый PHP proxy, без n8n.'\n    }\n  };\n}\n\n\nif (action === 'assistant_chat') {\n  const systemContext = body.system_context ?? data.system_context ?? {};\n  prompt = `${commonRules}\n\nЗАДАЧА:\nОтветь как ассистент редактора TEMED SEO Editor в режиме ${data.mode ?? 'article'}. Используй live system_manifest, article_structures, summary dictionaries и текущие поля статьи. Верни JSON строго в формате: {\"answer\":\"\",\"sources\":[],\"suggestions\":[],\"warnings\":[]}. Suggestions не применяются автоматически и требуют requires_confirmation=true. Не предлагай правки секретов, endpoint, credential, config и hidden security fields. Медицинские формулировки помечай как требующие ручного подтверждения.\n\nLIVE SYSTEM CONTEXT:\n${compactJson(systemContext)}\n\nARTICLE/EDITOR CONTEXT:\n${compactJson(data)}\n`;\n}\n\n\nif (action === 'assistant_refresh_knowledge') {\n  direct = true;\n  response = {success: true, action, request_id: requestId, generation_id: generationId, data: {status: 'scheduled', allowed_files: ['README.md', 'docs/**', 'internal/seo-editor/assets/js/**', 'n8n/TEMED SEO Editor.json']}};\n}\n\nif (action === 'create_bitrix_draft') {\n  direct = true;\n  response = {\n    success: false,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    error_code: 'WRITE_API_DISABLED',\n    message: 'Запись в Bitrix отключена. Workflow работает в безопасном read-only режиме.',\n    http_status: 501\n  };\n}\n\nif (action === 'research_sources') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь исследовательский пакет по теме статьи.\n\nВажно: у тебя нет права объявлять источник проверенным только по названию или URL.\nРаздели источники на:\n- user_provided — источник дал редактор;\n- metadata_only — можно оценить только по переданным метаданным;\n- needs_manual_verification — требуется ручная проверка полного текста;\n- rejected — источник не подходит или недостаточно данных.\n\nНе выдумывай новые библиографические записи.\nДопускается предложить только поисковые запросы для PubMed, Google Scholar, российских клинических рекомендаций и сайтов профильных профессиональных обществ.\n\nФОРМАТ:\n{\n  \"approved_sources_text\": \"строки только по источникам, которые можно оставить редактору на утверждение\",\n  \"candidates\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"source_type\": \"\",\n      \"status\": \"user_provided|metadata_only|needs_manual_verification|rejected\",\n      \"why_relevant\": \"\",\n      \"limitations\": \"\"\n    }\n  ],\n  \"search_queries\": [\n    {\n      \"database\": \"PubMed|Google Scholar|Клинические рекомендации РФ|Профессиональное общество\",\n      \"query\": \"\",\n      \"purpose\": \"\"\n    }\n  ],\n  \"claims_needing_sources\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_outline') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nСоставь подробный план медицинской SEO-статьи строго по выбранной структуре.\nЕсли в данных передан structure_config, соблюдай порядок, обязательность, repeat, instructions, global_instructions, forbidden и seo.\nНе пиши саму статью.\n\nФОРМАТ:\n{\n  \"outline_text\": \"редактируемый текстовый план\",\n  \"outline\": [\n    {\n      \"order\": 1,\n      \"block\": \"\",\n      \"heading\": \"\",\n      \"heading_level\": \"intro|h2|h3\",\n      \"required\": true,\n      \"purpose\": \"\",\n      \"key_points\": [],\n      \"source_requirements\": [],\n      \"medical_review_points\": []\n    }\n  ],\n  \"missing_information\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_article') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь полный черновик статьи по утверждённому плану и выбранной структуре.\n\nТРЕБОВАНИЯ К HTML:\n- detail_html содержит только содержимое статьи, без html, head и body;\n- используй h2, h3, p, ul, ol, table, blockquote;\n- не используй inline-стили, script, iframe;\n- первый абзац должен сразу отвечать на основной запрос, если структура не требует иного;\n- источники в тексте должны соответствовать массиву sources;\n- дисклеймер обязателен;\n- не добавляй несуществующие формы, цены и контакты.\n\nФОРМАТ:\n{\n  \"name\": \"\",\n  \"code\": \"\",\n  \"seo_title\": \"\",\n  \"meta_description\": \"\",\n  \"preview_text\": \"\",\n  \"short_answer\": \"\",\n  \"detail_html\": \"\",\n  \"sources\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"identifier\": \"\",\n      \"used_for\": []\n    }\n  ],\n  \"related_articles\": [],\n  \"medical_review_questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\"\n    }\n  ],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'extract_med_questions') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроведи медицинскую редакторскую проверку готовой статьи.\nНе переписывай текст.\nВыдели только формулировки, которые требуют подтверждения врача:\n- конкретные схемы, сроки, дозировки, число процедур;\n- показания и противопоказания;\n- причинно-следственные медицинские утверждения;\n- прогноз и ожидаемый эффект;\n- спорные или слишком категоричные утверждения;\n- данные без источника.\n\nФОРМАТ:\n{\n  \"questions_text\": \"пронумерованный список для передачи врачу\",\n  \"questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\",\n      \"suggested_safe_wording\": \"\"\n    }\n  ],\n  \"critical_count\": 0,\n  \"warnings\": []\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'apply_med_answers') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nВнеси ответы медицинского редактора в статью точечно.\nМеняй только те фрагменты, к которым относятся ответы.\nНе улучшай стиль остального текста и не генерируй статью заново.\nЕсли ответ врача неоднозначен, не меняй фрагмент и добавь предупреждение.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changes\": [\n    {\n      \"question_id\": \"\",\n      \"before\": \"\",\n      \"after\": \"\",\n      \"status\": \"changed|deleted|unchanged\"\n    }\n  ],\n  \"unresolved_questions\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nВОПРОСЫ И ОТВЕТЫ:\n${compactJson({\n  questions: data.med_questions ?? data.questions ?? '',\n  answers: data.med_answers ?? data.answers ?? ''\n})}\n`;\n}\n\nif (action === 'validate_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроверь статью перед публикацией. Ничего не переписывай.\n\nПРОВЕРКИ:\n- наличие обязательных блоков выбранной структуры;\n- выполнение дополнительных требований;\n- нарушения forbidden и YMYL;\n- гарантии результата, заочная диагностика и назначения;\n- числа и медицинские утверждения без источника;\n- соответствие источников тексту;\n- title, description, code, preview, short_answer;\n- HTML: запрещённые теги, незакрытые конструкции, дубли H1;\n- дисклеймер;\n- логичность CTA;\n- соответствие автора и медредактора переданным данным.\n\nФОРМАТ:\n{\n  \"passed\": false,\n  \"score\": 0,\n  \"report_text\": \"\",\n  \"errors\": [\n    {\n      \"code\": \"\",\n      \"severity\": \"critical|major|minor\",\n      \"location\": \"\",\n      \"message\": \"\",\n      \"recommended_fix\": \"\"\n    }\n  ],\n  \"warnings\": [],\n  \"checks\": [\n    {\n      \"name\": \"\",\n      \"passed\": true,\n      \"details\": \"\"\n    }\n  ]\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nТЕХНИЧЕСКОЕ ЗАДАНИЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'revise_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПереработай только фрагменты, прямо указанные в замечаниях.\nНе меняй согласованные части, структуру, факты TEMED и ответы врача без необходимости.\nВерни полный объект статьи после точечной правки.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changed_sections\": [\n    {\n      \"location\": \"\",\n      \"reason\": \"\",\n      \"before\": \"\",\n      \"after\": \"\"\n    }\n  ],\n  \"unresolved_comments\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nЗАМЕЧАНИЯ:\n${compactJson(data.revision_request ?? data.comments ?? data.validation_report ?? '')}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (isDraftAction) {\n  return [{ json: { valid: true, success: true, direct: false, is_draft_action: true, action, request_id: requestId, generation_id: generationId, data, prompt: '', response: null, http_status: 200 } }];\n}\n\nif (!direct && !prompt) {\n  return fail(\n    'ACTION_NOT_IMPLEMENTED',\n    'Для действия не сформирован обработчик.',\n    501\n  );\n}\n\nreturn [{\n  json: {\n    valid: true,\n    success: true,\n    direct,\n    is_draft_action: isDraftAction,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data,\n    prompt,\n    response,\n    http_status: response?.http_status ?? 200\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        560
      ],
      "id": "86502041-1e99-4789-904c-07253c8303c4",
      "name": "Prepare request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "request_valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        560
      ],
      "id": "483a1021-9766-4a91-84af-ba66c5845675",
      "name": "IF request valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        736
      ],
      "id": "13fd26a3-7dd5-4a83-9239-be7da7acae94",
      "name": "Respond request error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "direct_response",
              "leftValue": "={{ $json.direct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        496
      ],
      "id": "4155880c-6361-4379-82ae-b83f07c9e58e",
      "name": "IF direct response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        384
      ],
      "id": "212ed581-e071-44f3-a608-aa9615ba1a74",
      "name": "Respond direct"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        896,
        592
      ],
      "id": "b5a4a450-6758-4634-bb3e-c64382f951a9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "AYsswqQnu0370Vfk",
          "name": "OpenAi [ temed | cid ]"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prepared = $node['Prepare request'].json;\n\nlet raw =\n  $json.message?.content\n  ?? $json.text\n  ?? $json.content\n  ?? $json.output\n  ?? $json.response\n  ?? '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nfunction extractObject(text) {\n  try {\n    return JSON.parse(text);\n  } catch (_) {}\n\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n\n  if (start >= 0 && end > start) {\n    return JSON.parse(text.slice(start, end + 1));\n  }\n\n  throw new Error('JSON object not found');\n}\n\ntry {\n  const parsed = extractObject(raw);\n\n  if (!parsed || Array.isArray(parsed) || typeof parsed !== 'object') {\n    throw new Error('Model returned non-object JSON');\n  }\n\n  return [{\n    json: {\n      success: true,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      data: parsed,\n      meta: {\n        model: 'gpt-5.4-mini',\n        workflow: 'TEMED SEO Editor v1',\n        completed_at: new Date().toISOString()\n      },\n      http_status: 200\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      error_code: 'MODEL_JSON_PARSE_ERROR',\n      message: 'Модель вернула ответ, который не удалось разобрать как JSON.',\n      details: {\n        error: String(error.message || error),\n        raw_preview: raw.slice(0, 2000)\n      },\n      http_status: 502\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        592
      ],
      "id": "6ab6c840-ef38-4195-8f5d-e0b4d9741be4",
      "name": "Parse model JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "model_success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        592
      ],
      "id": "9d15bf69-d048-4dc6-a297-e8a389c1cf23",
      "name": "IF model result valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        512
      ],
      "id": "ce085c32-baac-4a84-bb1b-65fd842eb11b",
      "name": "Respond success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 502 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        704
      ],
      "id": "6720b501-56a0-4c54-aeb7-b99d4c48f577",
      "name": "Respond model error"
    },
    {
      "parameters": {
        "content": "## TEMED SEO Editor v1\n\nОдин защищённый webhook для AI-операций редактора SEO-статей.\n\n### Авторизация webhook\n\nWebhook защищён встроенной авторизацией n8n Header Auth.\n\nCredential:\nX-Temed-Seo-Secret\n\nHTTP-заголовок:\nX-TEMED-SEO-SECRET\n\nЗначение секрета хранится:\n- внутри credential n8n;\n- в закрытом `/internal/seo-editor/config.php` как `n8n_secret`.\n\nСекрет запрещено хранить:\n- в `Prepare request`;\n- в workflow JSON;\n- в GitHub;\n- в теле запроса;\n- в документации.\n\nPHP proxy отправляет секрет в заголовке `X-TEMED-SEO-SECRET`.\n\n### Поддерживаемые действия\n\nСохранить актуальный список действий из workflow.\n\nЗапись в Bitrix остаётся отключённой, если это предусмотрено текущей схемой.",
        "height": 720,
        "width": 788
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -32
      ],
      "id": "a5d435d2-07d2-4e33-b862-7be831d0a698",
      "name": "Setup notes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_start_external_uniqueness",
              "leftValue": "={{ $json.action }}",
              "rightValue": "start_external_uniqueness",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        240
      ],
      "id": "e5f96184-3173-4f09-825d-4c2b3e2cf5cb",
      "name": "IF start external uniqueness"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $input.first().json;\nconst data = prepared.data ?? {};\nconst text = data.text;\nconst contentHash = data.content_hash;\nfunction fail(errorCode, message, httpStatus = 400) {\n  return [{json: {success: false, action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, error_code: errorCode, message, http_status: httpStatus}}];\n}\nlet payloadSize = 0;\ntry { payloadSize = JSON.stringify(data).length; } catch (_) { payloadSize = 0; }\nif (payloadSize > 170000) return fail('TEXT_RU_PAYLOAD_TOO_LARGE', 'Payload для TEXT.RU превышает лимит workflow.', 413);\nif (typeof text !== 'string') return fail('TEXT_RU_TEXT_REQUIRED', 'Для проверки TEXT.RU требуется текст строкой.', 400);\nconst trimmed = text.trim();\nif (!trimmed) return fail('TEXT_RU_TEXT_REQUIRED', 'Для проверки TEXT.RU требуется непустой текст.', 400);\nif (trimmed.length < 100) return fail('TEXT_TOO_SHORT_FOR_TEXT_RU', 'Для проверки TEXT.RU требуется не менее 100 символов.', 400);\nif (trimmed.length > 150000) return fail('TEXT_TOO_LONG_FOR_TEXT_RU', 'TEXT.RU принимает не более 150000 символов.', 400);\nif (typeof contentHash !== 'string' || !contentHash.trim()) return fail('TEXT_RU_CONTENT_HASH_REQUIRED', 'Для проверки TEXT.RU требуется content_hash.', 400);\nreturn [{json: {action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, content_hash: contentHash.trim(), text: trimmed, submitted_at: new Date().toISOString()}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        128
      ],
      "id": "4300c808-7dc1-4a83-9346-5b1ff124f73a",
      "name": "Prepare TEXT.RU submit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.text.ru/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { text: $json.text, exceptdomain: 'temed.ru, *.temed.ru', copying: 'noadd' } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        128
      ],
      "id": "aae5ff4a-8d8c-4446-a428-9779350dd065",
      "name": "TEXT.RU — Submit text",
      "credentials": {
        "httpCustomAuth": {
          "id": "B5x4KM4IzNjPvjnN",
          "name": "TEXT.RU API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function textRuError(action, requestId, generationId, raw, ctx = {}) {\n  const code = Number(raw?.error_code ?? raw?.code ?? 0);\n  const desc = String(raw?.error_desc ?? raw?.message ?? '').slice(0, 500);\n  const base = {success: false, action, request_id: requestId, generation_id: generationId, data: {status: 'failed', provider: 'text.ru', content_hash: ctx.content_hash, text_uid: ctx.text_uid}};\n  const validation = new Set([110,111,112,113,150]);\n  const credential = new Set([120,121,170,171,141,146]);\n  const provider = new Set([140,143,144,145,151,182,183]);\n  if (validation.has(code)) return {...base, error_code: code === 112 ? 'TEXT_TOO_SHORT_FOR_TEXT_RU' : code === 113 ? 'TEXT_TOO_LONG_FOR_TEXT_RU' : 'TEXT_RU_VALIDATION_ERROR', message: desc || 'TEXT.RU отклонил текст для проверки.', http_status: 400};\n  if (credential.has(code)) return {...base, error_code: 'TEXT_RU_CREDENTIAL_ERROR', message: 'Не удалось авторизоваться в TEXT.RU. Проверьте credential TEXT.RU API.', http_status: 502};\n  if (code === 142) return {...base, error_code: 'TEXT_RU_INSUFFICIENT_BALANCE', message: 'На балансе TEXT.RU недостаточно символов для проверки.', http_status: 402};\n  if (code === 160 || code === 161) return {...base, error_code: 'TEXT_RU_UID_INVALID', message: desc || 'TEXT.RU требует корректный UID проверки.', http_status: 400};\n  if (code === 180) return {...base, error_code: 'TEXT_RU_UID_NOT_FOUND', message: 'TEXT.RU не нашёл результат для указанного UID.', http_status: 404};\n  if (code === 429) return {...base, error_code: 'TEXT_RU_RATE_LIMIT', message: 'TEXT.RU временно ограничил количество запросов.', data: {...base.data, retry_after_seconds: 60}, http_status: 429};\n  if (provider.has(code)) return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: code === 182 ? 'Проверка завершилась ошибкой на стороне TEXT.RU.' : (desc || 'TEXT.RU временно не смог выполнить проверку.'), http_status: 502};\n  return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: desc || 'TEXT.RU вернул ошибку.', http_status: 502};\n}\n\nconst raw = $input.first().json;\nconst ctx = $node['Prepare TEXT.RU submit'].json;\nif (raw?.error_code !== undefined) return [{json: textRuError(ctx.action, ctx.request_id, ctx.generation_id, raw, ctx)}];\nconst textUid = typeof raw?.text_uid === 'string' ? raw.text_uid.trim() : '';\nif (!textUid) return [{json: {success: false, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, error_code: 'TEXT_RU_INVALID_RESPONSE', message: 'TEXT.RU не вернул text_uid.', data: {status: 'failed', content_hash: ctx.content_hash, provider: 'text.ru'}, http_status: 502}}];\nreturn [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'processing', text_uid: textUid, content_hash: ctx.content_hash, submitted_at: ctx.submitted_at, retry_after_seconds: 15, provider: 'text.ru'}, http_status: 200}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        128
      ],
      "id": "65224472-17a9-4a3f-860d-a8731ff389ec",
      "name": "Normalize TEXT.RU submit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_get_external_uniqueness",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_external_uniqueness",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        496
      ],
      "id": "70157c21-e5d0-42f3-95d4-fe86ae0da199",
      "name": "IF get external uniqueness"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $input.first().json;\nconst data = prepared.data ?? {};\nconst uid = data.text_uid ?? data.uid;\nconst contentHash = data.content_hash;\nfunction fail(errorCode, message, httpStatus = 400) { return [{json: {success: false, action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, error_code: errorCode, message, http_status: httpStatus}}]; }\nif (typeof uid !== 'string' || !uid.trim()) return fail('TEXT_RU_UID_REQUIRED', 'Для запроса результата TEXT.RU требуется text_uid.', 400);\nconst textUid = uid.trim();\nif (textUid.length > 200 || /[\\u0000-\\u001F\\u007F]/.test(textUid)) return fail('TEXT_RU_UID_INVALID', 'UID TEXT.RU имеет недопустимый формат.', 400);\nif (typeof contentHash !== 'string' || !contentHash.trim()) return fail('TEXT_RU_CONTENT_HASH_REQUIRED', 'Для результата TEXT.RU требуется content_hash.', 400);\nreturn [{json: {action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, content_hash: contentHash.trim(), text_uid: textUid}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        384
      ],
      "id": "8143ca60-7f14-4173-b42d-981883dcd7d0",
      "name": "Prepare TEXT.RU result request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.text.ru/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { uid: $json.text_uid, jsonvisible: 'detail_view' } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        384
      ],
      "id": "60e7137f-8755-4f22-8651-af56d67ce91b",
      "name": "TEXT.RU — Get result",
      "credentials": {
        "httpCustomAuth": {
          "id": "B5x4KM4IzNjPvjnN",
          "name": "TEXT.RU API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function textRuError(action, requestId, generationId, raw, ctx = {}) {\n  const code = Number(raw?.error_code ?? raw?.code ?? 0);\n  const desc = String(raw?.error_desc ?? raw?.message ?? '').slice(0, 500);\n  const base = {success: false, action, request_id: requestId, generation_id: generationId, data: {status: 'failed', provider: 'text.ru', content_hash: ctx.content_hash, text_uid: ctx.text_uid}};\n  const validation = new Set([110,111,112,113,150]);\n  const credential = new Set([120,121,170,171,141,146]);\n  const provider = new Set([140,143,144,145,151,182,183]);\n  if (validation.has(code)) return {...base, error_code: code === 112 ? 'TEXT_TOO_SHORT_FOR_TEXT_RU' : code === 113 ? 'TEXT_TOO_LONG_FOR_TEXT_RU' : 'TEXT_RU_VALIDATION_ERROR', message: desc || 'TEXT.RU отклонил текст для проверки.', http_status: 400};\n  if (credential.has(code)) return {...base, error_code: 'TEXT_RU_CREDENTIAL_ERROR', message: 'Не удалось авторизоваться в TEXT.RU. Проверьте credential TEXT.RU API.', http_status: 502};\n  if (code === 142) return {...base, error_code: 'TEXT_RU_INSUFFICIENT_BALANCE', message: 'На балансе TEXT.RU недостаточно символов для проверки.', http_status: 402};\n  if (code === 160 || code === 161) return {...base, error_code: 'TEXT_RU_UID_INVALID', message: desc || 'TEXT.RU требует корректный UID проверки.', http_status: 400};\n  if (code === 180) return {...base, error_code: 'TEXT_RU_UID_NOT_FOUND', message: 'TEXT.RU не нашёл результат для указанного UID.', http_status: 404};\n  if (code === 429) return {...base, error_code: 'TEXT_RU_RATE_LIMIT', message: 'TEXT.RU временно ограничил количество запросов.', data: {...base.data, retry_after_seconds: 60}, http_status: 429};\n  if (provider.has(code)) return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: code === 182 ? 'Проверка завершилась ошибкой на стороне TEXT.RU.' : (desc || 'TEXT.RU временно не смог выполнить проверку.'), http_status: 502};\n  return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: desc || 'TEXT.RU вернул ошибку.', http_status: 502};\n}\n\nconst raw = $input.first().json;\nconst ctx = $node['Prepare TEXT.RU result request'].json;\nif (Number(raw?.error_code) === 181) return [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'processing', text_uid: ctx.text_uid, content_hash: ctx.content_hash, retry_after_seconds: 15, provider: 'text.ru'}, http_status: 200}}];\nif (raw?.error_code !== undefined) return [{json: textRuError(ctx.action, ctx.request_id, ctx.generation_id, raw, ctx)}];\nif (raw?.text_unique === undefined) return [{json: {success: false, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, error_code: 'TEXT_RU_INVALID_RESPONSE', message: 'TEXT.RU не вернул статус обработки или процент уникальности.', data: {status: 'failed', text_uid: ctx.text_uid, content_hash: ctx.content_hash, provider: 'text.ru'}, http_status: 502}}];\nconst warnings = [];\nfunction parseMaybeJson(value, fallback, field) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value !== 'string') return value;\n  try { return JSON.parse(value); } catch (_) { warnings.push(`TEXT_RU_${field.toUpperCase()}_PARSE_WARNING`); return fallback; }\n}\nconst uniqueness = Number(String(raw.text_unique).replace(',', '.'));\nconst result = parseMaybeJson(raw.result_json, {}, 'result_json');\nconst spellCheck = parseMaybeJson(raw.spell_check, [], 'spell_check');\nconst seoCheck = parseMaybeJson(raw.seo_check, {}, 'seo_check');\nreturn [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'completed', text_uid: ctx.text_uid, content_hash: ctx.content_hash, checked_at: new Date().toISOString(), uniqueness_percent: Number.isFinite(uniqueness) ? uniqueness : 0, result: {date_check: result.date_check ?? '', unique: Number(result.unique ?? uniqueness) || uniqueness || 0, urls: Array.isArray(result.urls) ? result.urls : [], text_view: result.text_view ?? '', words_pos: Array.isArray(result.words_pos) ? result.words_pos : []}, spell_check: Array.isArray(spellCheck) ? spellCheck : [], seo_check: seoCheck && typeof seoCheck === 'object' && !Array.isArray(seoCheck) ? seoCheck : {}, provider: 'text.ru', warnings}, http_status: 200}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        384
      ],
      "id": "313bfbd8-fa54-435d-bb6b-f7cc4dce460a",
      "name": "Normalize TEXT.RU result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1016,
        128
      ],
      "id": "486214f8-1ad1-4e79-8862-1342ca0f0044",
      "name": "IF TEXT.RU submit prepared"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.text_uid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1016,
        384
      ],
      "id": "a10f3bb6-cedf-460a-8010-0f4dc5898d80",
      "name": "IF TEXT.RU result prepared"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft",
              "leftValue": "={{ $json.is_draft_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        560
      ],
      "id": "84f99ae1-a992-42e6-bf33-3a66c07725c6",
      "name": "IF draft action"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        288
      ],
      "id": "3ffadf12-70a1-46ef-b670-f225234dbb5f",
      "name": "Prepare draft request"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        288
      ],
      "id": "d4746457-1acd-42fa-b9c9-e6d1ff90ab07",
      "name": "Draft sheets metadata",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const s=$json.sheets||[]; return [{json:{...$json, draft_sheets_valid:true}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        288
      ],
      "id": "b4c83e80-1893-4c26-8b02-26e20c71a931",
      "name": "Validate draft sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.draft_sheets_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        288
      ],
      "id": "1d4a87be-2efe-47f8-bf1d-6fa990820cfc",
      "name": "IF draft sheets valid"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto/values:batchGet?ranges='Черновики'!A:AF&ranges='Версии'!A:N&ranges='Снимки'!A:H&ranges='Журнал'!A:G&ranges='Справочники'!A:F",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        288
      ],
      "id": "1a3cf48a-d92e-467b-abbe-74afa0e39c75",
      "name": "Draft sheets batch get",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst sheetInput=$input.first().json;\nconst item=$('Prepare request').first().json;\nconst action=item.action; const data=item.data||{}; const request_id=item.request_id;\nconst spreadsheetId='1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto';\nconst now=new Date().toISOString();\nfunction ok(data){return [{json:{success:true,action,request_id,data,http_status:200,direct:true}}];}\nfunction err(code,msg,status=400,details={}){return [{json:{success:false,action,request_id,error_code:code,message:msg,details,http_status:status,direct:true}}];}\nfunction headerCode(v){const parts=String(v||'').split(/\\r?\\n/).filter(x=>String(x).trim()!=='');return (parts[parts.length-1]||'').trim();}\nconst ranges=sheetInput.valueRanges||[]; const bySheet={}; for(const r of ranges){const title=String(r.range||'').split('!')[0].replace(/^'|'$/g,''); const values=r.values||[]; const headers=(values[0]||[]).map(headerCode); bySheet[title]={headers, rows:values.slice(1), objects:values.slice(1).map((row,i)=>Object.fromEntries(headers.map((h,idx)=>[h,row[idx]??''])).valueOf())}; bySheet[title].objects.forEach((o,i)=>o.__row=i+2);}\nconst required={\n 'Черновики':['DRAFT_ID','NAME','CODE','STATUS','WORKFLOW_STEP','RESPONSIBLE','RESPONSIBLE_ID','AUTHOR_NAME','AUTHOR_ID','REVIEWER_NAME','REVIEWER_ID','REVIEW_DUE_AT','ARTICLE_TYPE','SEARCH_INTENT','ARTICLE_STRUCTURE','STRUCTURE_VERSION','SECTION','REGION','CURRENT_VERSION','CURRENT_VERSION_ID','LAST_COMMENT','CREATED_AT','CREATED_BY','UPDATED_AT','UPDATED_BY','SNAPSHOT_HASH','SNAPSHOT_SIZE','SNAPSHOT_CHUNKS','SNAPSHOT_ENCODING','IS_DELETED','DELETED_AT','DELETED_BY'],\n 'Версии':['VERSION_ID','DRAFT_ID','VERSION_NUMBER','SAVED_AT','SAVED_BY','SAVE_COMMENT','STATUS','WORKFLOW_STEP','SNAPSHOT_HASH','SNAPSHOT_SIZE','SNAPSHOT_CHUNKS','SNAPSHOT_ENCODING','RESTORED_FROM_VERSION','SAVE_REASON'],\n 'Снимки':['VERSION_ID','DRAFT_ID','CHUNK_INDEX','CHUNK_COUNT','SNAPSHOT_CHUNK','SNAPSHOT_HASH','SNAPSHOT_SIZE','CREATED_AT'],\n 'Журнал':['EVENT_ID','EVENT_AT','USER','ACTION','DRAFT_ID','VERSION_ID','DETAILS'],\n 'Справочники':['TYPE','CODE','NAME','SORT','ACTIVE','DESCRIPTION']};\nconst missing={}; for(const [s,cols] of Object.entries(required)){if(!bySheet[s]) missing[s]=['SHEET_NOT_FOUND']; else {const miss=cols.filter(c=>!bySheet[s].headers.includes(c)); if(miss.length) missing[s]=miss;}}\nif(Object.keys(missing).length) return err('DRAFT_STORAGE_SCHEMA_INVALID','Google Sheets schema is invalid',400,{spreadsheet_id:spreadsheetId,missing_columns:missing});\nfunction sortDesc(a,b,k){return String(b[k]||'').localeCompare(String(a[k]||''));}\nfunction decodeSnapshot(versionId){const chunks=bySheet['Снимки'].objects.filter(x=>x.VERSION_ID===versionId).sort((a,b)=>Number(a.CHUNK_INDEX)-Number(b.CHUNK_INDEX)); if(!chunks.length) throw new Error('SNAPSHOT_INCOMPLETE'); const count=Number(chunks[0].CHUNK_COUNT); if(chunks.length!==count) throw new Error('SNAPSHOT_INCOMPLETE'); const b64=chunks.map(c=>c.SNAPSHOT_CHUNK||'').join(''); const json=Buffer.from(b64,'base64').toString('utf8'); if(Buffer.byteLength(json,'utf8')!==Number(chunks[0].SNAPSHOT_SIZE)) throw new Error('SNAPSHOT_HASH_MISMATCH'); const obj=JSON.parse(json); if(obj.schema_version!=='1.0') throw new Error('SNAPSHOT_UNSUPPORTED_VERSION'); return obj;}\nif(action==='draft_health') return ok({spreadsheet_id:spreadsheetId,sheets:Object.fromEntries(Object.keys(required).map(s=>[s,{columns:bySheet[s].headers.length,rows:bySheet[s].rows.length}])),missing_columns:{}});\nif(action==='draft_get_dictionaries'){const out={status:[],workflow_step:[],save_reason:[],action:[]}; bySheet['Справочники'].objects.filter(r=>['TRUE','true','1','yes','да','активен'].includes(String(r.ACTIVE||'').trim())).sort((a,b)=>Number(a.SORT||0)-Number(b.SORT||0)).forEach(r=>{const t=String(r.TYPE||'').trim(); (out[t]||(out[t]=[])).push({code:r.CODE,name:r.NAME,sort:Number(r.SORT||0),description:r.DESCRIPTION});}); return ok(out);}\nif(action==='draft_list'){let rows=bySheet['Черновики'].objects; const scope=data.scope||'active'; rows=rows.filter(r=>scope==='trash'?String(r.IS_DELETED).toUpperCase()==='TRUE':String(r.IS_DELETED).toUpperCase()!=='TRUE'); if(data.status)rows=rows.filter(r=>r.STATUS===data.status); if(data.workflow_step)rows=rows.filter(r=>r.WORKFLOW_STEP===data.workflow_step); if(data.responsible_id)rows=rows.filter(r=>r.RESPONSIBLE_ID===data.responsible_id); if(data.reviewer_id)rows=rows.filter(r=>r.REVIEWER_ID===data.reviewer_id); if(data.query){const q=String(data.query).toLowerCase(); rows=rows.filter(r=>JSON.stringify(r).toLowerCase().includes(q));} rows.sort((a,b)=>sortDesc(a,b,'UPDATED_AT')); const limit=Math.min(Number(data.limit||50),200), offset=Number(data.offset||0); return ok({items:rows.slice(offset,offset+limit).map(({__row,...r})=>r),total:rows.length,limit,offset});}\nif(action==='draft_get'||action==='draft_get_version'){try{let version,draft; if(action==='draft_get'){draft=bySheet['Черновики'].objects.find(r=>r.DRAFT_ID===data.draft_id&&String(r.IS_DELETED).toUpperCase()!=='TRUE'); if(!draft)return err('DRAFT_NOT_FOUND','Draft not found',404); version=bySheet['Версии'].objects.find(r=>r.VERSION_ID===draft.CURRENT_VERSION_ID);} else {version=bySheet['Версии'].objects.find(r=>r.VERSION_ID===data.version_id); if(!version)return err('VERSION_NOT_FOUND','Version not found',404); draft=bySheet['Черновики'].objects.find(r=>r.DRAFT_ID===version.DRAFT_ID);} if(!version)return err('VERSION_NOT_FOUND','Version not found',404); return ok({draft,version,snapshot:decodeSnapshot(version.VERSION_ID)});}catch(e){return err(String(e.message||'SNAPSHOT_INVALID_JSON'), 'Snapshot integrity check failed',400);}}\nif(action==='draft_list_versions'){const rows=bySheet['Версии'].objects.filter(r=>r.DRAFT_ID===data.draft_id).sort((a,b)=>Number(b.VERSION_NUMBER)-Number(a.VERSION_NUMBER)); return ok({items:rows});}\n// Mutations are planned as Google Sheets RAW writes; no secrets or OAuth tokens are embedded in workflow JSON.\nreturn [{json:{success:true,action,request_id,data:{planned:true,spreadsheet_id:spreadsheetId,message:'Draft mutation plan prepared for Google Sheets RAW writes',action},http_status:200,direct:false,request_1:null,request_2:null,request_3:null,request_4:null}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        288
      ],
      "id": "de3f1c08-346a-4766-b1d5-77fcb62d9c0f",
      "name": "Build draft plan"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "direct",
              "leftValue": "={{ $json.direct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2176,
        288
      ],
      "id": "6174c8a4-a47d-4301-a31a-31c684d5b09d",
      "name": "IF draft direct"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2400,
        192
      ],
      "id": "adc3f549-ea9d-4340-a14f-9a1c43b3dab5",
      "name": "Respond draft direct"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "r1",
              "leftValue": "={{ !!$json.request_1 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        384
      ],
      "id": "a97d2ed8-ac11-454e-8079-73cf9a395fdc",
      "name": "IF draft request 1"
    },
    {
      "parameters": {
        "method": "={{ $json.request_1.method || \"POST\" }}",
        "url": "={{ $json.request_1.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_1.body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        304
      ],
      "id": "dbc92da8-7863-4ebb-b5dd-d4d7b9bf2e33",
      "name": "Draft Sheets request 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "r2",
              "leftValue": "={{ !!$json.request_2 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2848,
        384
      ],
      "id": "ab22fa58-9eb7-42cf-9931-41d0e557d652",
      "name": "IF draft request 2"
    },
    {
      "parameters": {
        "method": "={{ $json.request_2.method || \"POST\" }}",
        "url": "={{ $json.request_2.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_2.body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        304
      ],
      "id": "e0b9f3ab-cb3f-4958-99aa-3a1b46cf2616",
      "name": "Draft Sheets request 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "r3",
              "leftValue": "={{ !!$json.request_3 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3296,
        384
      ],
      "id": "23d1d2e5-5351-4cbe-9869-9a39e6e6bcf4",
      "name": "IF draft request 3"
    },
    {
      "parameters": {
        "method": "={{ $json.request_3.method || \"POST\" }}",
        "url": "={{ $json.request_3.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_3.body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        304
      ],
      "id": "5e531c0d-bc0e-4e75-a22e-dd241cddc019",
      "name": "Draft Sheets request 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "r4",
              "leftValue": "={{ !!$json.request_4 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3744,
        384
      ],
      "id": "bf115c0a-989b-4810-85d6-38590f1cc836",
      "name": "IF draft request 4"
    },
    {
      "parameters": {
        "method": "={{ $json.request_4.method || \"POST\" }}",
        "url": "={{ $json.request_4.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_4.body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        304
      ],
      "id": "6ecd8193-1082-42b9-b9cf-32c986e2b184",
      "name": "Draft Sheets request 4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4192,
        384
      ],
      "id": "f4fecb77-7fbd-4237-9ad7-39c2ee9833c7",
      "name": "Respond draft mutation"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare request": {
      "main": [
        [
          {
            "node": "IF request valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF request valid": {
      "main": [
        [
          {
            "node": "IF draft action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond request error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF direct response": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse model JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse model JSON": {
      "main": [
        [
          {
            "node": "IF model result valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF model result valid": {
      "main": [
        [
          {
            "node": "Respond success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond model error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF start external uniqueness": {
      "main": [
        [
          {
            "node": "Prepare TEXT.RU submit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF get external uniqueness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TEXT.RU submit": {
      "main": [
        [
          {
            "node": "IF TEXT.RU submit prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT.RU — Submit text": {
      "main": [
        [
          {
            "node": "Normalize TEXT.RU submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize TEXT.RU submit": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF get external uniqueness": {
      "main": [
        [
          {
            "node": "Prepare TEXT.RU result request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF direct response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TEXT.RU result request": {
      "main": [
        [
          {
            "node": "IF TEXT.RU result prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT.RU — Get result": {
      "main": [
        [
          {
            "node": "Normalize TEXT.RU result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize TEXT.RU result": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF TEXT.RU submit prepared": {
      "main": [
        [
          {
            "node": "TEXT.RU — Submit text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF TEXT.RU result prepared": {
      "main": [
        [
          {
            "node": "TEXT.RU — Get result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft action": {
      "main": [
        [
          {
            "node": "Prepare draft request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF start external uniqueness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare draft request": {
      "main": [
        [
          {
            "node": "Draft sheets metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft sheets metadata": {
      "main": [
        [
          {
            "node": "Validate draft sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate draft sheets": {
      "main": [
        [
          {
            "node": "IF draft sheets valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft sheets valid": {
      "main": [
        [
          {
            "node": "Draft sheets batch get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond draft direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft sheets batch get": {
      "main": [
        [
          {
            "node": "Build draft plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build draft plan": {
      "main": [
        [
          {
            "node": "IF draft direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft direct": {
      "main": [
        [
          {
            "node": "Respond draft direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 1": {
      "main": [
        [
          {
            "node": "Draft Sheets request 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 1": {
      "main": [
        [
          {
            "node": "IF draft request 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 2": {
      "main": [
        [
          {
            "node": "Draft Sheets request 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 2": {
      "main": [
        [
          {
            "node": "IF draft request 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 3": {
      "main": [
        [
          {
            "node": "Draft Sheets request 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 3": {
      "main": [
        [
          {
            "node": "IF draft request 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 4": {
      "main": [
        [
          {
            "node": "Draft Sheets request 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond draft mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 4": {
      "main": [
        [
          {
            "node": "Respond draft mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bccedff4-5772-4642-9d2b-72cd4d582731",
  "meta": {
    "instanceId": "0ac9a1d8e7b09fb0f504f7d90e7ec36636be03ea59af94bfa8326a51562dd3c5"
  },
  "id": "8Cif7ZuMYMFITNVE",
  "tags": []
}