n8n/TEMED SEO Editor.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "temed-seo-editor-v1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4176,
        -32
      ],
      "id": "de495790-599e-4330-b674-ae9995532fad",
      "name": "Webhook",
      "webhookId": "a5c67045-5c07-49b0-a4bb-b63cf5fb418b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dEZNp80MtjGMeS1w",
          "name": "X-Temed-Seo-Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst action = String(body.action ?? '').trim();\nconst requestId = String(\n  body.request_id\n  ?? body.requestId\n  ?? `seo-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nconst data = body.data ?? body.payload ?? body.brief ?? {};\n\nconst allowedActions = new Set([\n  'health',\n  'research_sources',\n  'generate_outline',\n  'generate_article',\n  'extract_med_questions',\n  'apply_med_answers',\n  'validate_article',\n  'revise_article',\n  'approve_outline',\n  'load_existing_article',\n  'load_dictionaries',\n  'assistant_chat',\n  'start_external_uniqueness',\n  'get_external_uniqueness',\n  'assistant_refresh_knowledge',\n  'create_bitrix_draft',\n  'draft_health',\n  'draft_list',\n  'draft_get',\n  'draft_create',\n  'draft_save_version',\n  'draft_list_versions',\n  'draft_get_version',\n  'draft_restore_version',\n  'draft_archive',\n  'draft_unarchive',\n  'draft_purge',\n  'transcribe_case'\n]);\n\nconst isDraftAction = action.startsWith('draft_');\nconst isTranscribeAction = action === 'transcribe_case';\n\nfunction fail(errorCode, message, httpStatus = 400, details = {}) {\n  return [{\n    json: {\n      valid: false,\n      success: false,\n      action,\n      request_id: requestId,\n      error_code: errorCode,\n      message,\n      details,\n      http_status: httpStatus\n    }\n  }];\n}\n\nif (!allowedActions.has(action)) {\n  return fail(\n    'UNKNOWN_ACTION',\n    'Неизвестное действие.',\n    400,\n    { allowed_actions: [...allowedActions] }\n  );\n}\n\nconst generationId = String(\n  body.generation_id\n  ?? data.generation_id\n  ?? `gen-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`\n);\n\nfunction compactJson(value) {\n  return JSON.stringify(value ?? {}, null, 2);\n}\n\nfunction articleFromPayload(payload) {\n  return payload.article\n    ?? payload.result\n    ?? payload.current_article\n    ?? {\n      name: payload.result_name ?? '',\n      code: payload.result_code ?? '',\n      seo_title: payload.result_seo_title ?? '',\n      meta_description: payload.result_meta_description ?? '',\n      preview_text: payload.result_preview ?? '',\n      short_answer: payload.result_short_answer ?? '',\n      detail_html: payload.result_detail_html ?? '',\n      sources: payload.result_sources ?? '',\n      related_articles: payload.result_related_articles ?? ''\n    };\n}\n\nconst commonRules = `\nТы — медицинский SEO-редактор сети клиник TEMED.\n\nОБЯЗАТЕЛЬНЫЕ ПРАВИЛА:\n1. Работай только с данными, переданными в JSON. Не придумывай факты о TEMED, врачах, клиниках, методах, ценах, длительности, количестве процедур и результатах.\n2. Внутренние факты TEMED и комментарии врача имеют приоритет. Их смысл нельзя менять.\n3. Не ставь заочный диагноз и не назначай лечение конкретному читателю.\n4. Не обещай результат и не используй гарантии эффективности.\n5. Числа и медицинские утверждения допускаются только при наличии указанного источника. Если источника нет, убери точное число или пометь утверждение как требующее проверки.\n6. Не выдумывай статьи, исследования, DOI, PMID, URL, клинические рекомендации или цитаты.\n7. Ответ возвращай только как один корректный JSON-объект без markdown и без пояснений вокруг JSON.\n8. Язык результата — русский.\n`;\n\nlet direct = false;\nlet response = null;\nlet prompt = '';\n\nif (action === 'health') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      status: 'ok',\n      workflow: 'TEMED SEO Editor v1',\n      ai_model: 'gpt-5.4-mini'\n    }\n  };\n}\n\nif (action === 'approve_outline') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      approved: true,\n      outline: data.generated_outline ?? data.outline ?? ''\n    }\n  };\n}\n\nif (action === 'load_existing_article' || action === 'load_dictionaries') {\n  direct = true;\n  response = {\n    success: true,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data: {\n      handled_by: 'TEMED SEO PHP proxy',\n      message: 'Это действие выполняется напрямую через защищённый PHP proxy, без n8n.'\n    }\n  };\n}\n\n\nif (action === 'assistant_chat') {\n  const systemContext = body.system_context ?? data.system_context ?? {};\n  prompt = `${commonRules}\n\nЗАДАЧА:\nОтветь как ассистент редактора TEMED SEO Editor в режиме ${data.mode ?? 'article'}. Используй live system_manifest, article_structures, summary dictionaries и текущие поля статьи. Верни JSON строго в формате: {\"answer\":\"\",\"sources\":[],\"suggestions\":[],\"warnings\":[]}. Suggestions не применяются автоматически и требуют requires_confirmation=true. Не предлагай правки секретов, endpoint, credential, config и hidden security fields. Медицинские формулировки помечай как требующие ручного подтверждения.\n\nLIVE SYSTEM CONTEXT:\n${compactJson(systemContext)}\n\nARTICLE/EDITOR CONTEXT:\n${compactJson(data)}\n`;\n}\n\n\nif (action === 'assistant_refresh_knowledge') {\n  direct = true;\n  response = {success: true, action, request_id: requestId, generation_id: generationId, data: {status: 'scheduled', allowed_files: ['README.md', 'docs/**', 'internal/seo-editor/assets/js/**', 'n8n/TEMED SEO Editor.json']}};\n}\n\nif (action === 'create_bitrix_draft') {\n  direct = true;\n  response = {\n    success: false,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    error_code: 'WRITE_API_DISABLED',\n    message: 'Запись в Bitrix отключена. Workflow работает в безопасном read-only режиме.',\n    http_status: 501\n  };\n}\n\nif (action === 'research_sources') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь исследовательский пакет по теме статьи.\n\nВажно: у тебя нет права объявлять источник проверенным только по названию или URL.\nРаздели источники на:\n- user_provided — источник дал редактор;\n- metadata_only — можно оценить только по переданным метаданным;\n- needs_manual_verification — требуется ручная проверка полного текста;\n- rejected — источник не подходит или недостаточно данных.\n\nНе выдумывай новые библиографические записи.\nДопускается предложить только поисковые запросы для PubMed, Google Scholar, российских клинических рекомендаций и сайтов профильных профессиональных обществ.\n\nФОРМАТ:\n{\n  \"approved_sources_text\": \"строки только по источникам, которые можно оставить редактору на утверждение\",\n  \"candidates\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"source_type\": \"\",\n      \"status\": \"user_provided|metadata_only|needs_manual_verification|rejected\",\n      \"why_relevant\": \"\",\n      \"limitations\": \"\"\n    }\n  ],\n  \"search_queries\": [\n    {\n      \"database\": \"PubMed|Google Scholar|Клинические рекомендации РФ|Профессиональное общество\",\n      \"query\": \"\",\n      \"purpose\": \"\"\n    }\n  ],\n  \"claims_needing_sources\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_outline') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nСоставь подробный план медицинской SEO-статьи строго по выбранной структуре.\nЕсли в данных передан structure_config, соблюдай порядок, обязательность, repeat, instructions, global_instructions, forbidden и seo.\nНе пиши саму статью.\n\nФОРМАТ:\n{\n  \"outline_text\": \"редактируемый текстовый план\",\n  \"outline\": [\n    {\n      \"order\": 1,\n      \"block\": \"\",\n      \"heading\": \"\",\n      \"heading_level\": \"intro|h2|h3\",\n      \"required\": true,\n      \"purpose\": \"\",\n      \"key_points\": [],\n      \"source_requirements\": [],\n      \"medical_review_points\": []\n    }\n  ],\n  \"missing_information\": [],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'generate_article') {\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПодготовь полный черновик статьи по утверждённому плану и выбранной структуре.\n\nТРЕБОВАНИЯ К HTML:\n- detail_html содержит только содержимое статьи, без html, head и body;\n- используй h2, h3, p, ul, ol, table, blockquote;\n- не используй inline-стили, script, iframe;\n- первый абзац должен сразу отвечать на основной запрос, если структура не требует иного;\n- источники в тексте должны соответствовать массиву sources;\n- дисклеймер обязателен;\n- не добавляй несуществующие формы, цены и контакты.\n\nФОРМАТ:\n{\n  \"name\": \"\",\n  \"code\": \"\",\n  \"seo_title\": \"\",\n  \"meta_description\": \"\",\n  \"preview_text\": \"\",\n  \"short_answer\": \"\",\n  \"detail_html\": \"\",\n  \"sources\": [\n    {\n      \"title\": \"\",\n      \"url\": \"\",\n      \"identifier\": \"\",\n      \"used_for\": []\n    }\n  ],\n  \"related_articles\": [],\n  \"medical_review_questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\"\n    }\n  ],\n  \"warnings\": []\n}\n\nДАННЫЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'extract_med_questions') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроведи медицинскую редакторскую проверку готовой статьи.\nНе переписывай текст.\nВыдели только формулировки, которые требуют подтверждения врача:\n- конкретные схемы, сроки, дозировки, число процедур;\n- показания и противопоказания;\n- причинно-следственные медицинские утверждения;\n- прогноз и ожидаемый эффект;\n- спорные или слишком категоричные утверждения;\n- данные без источника.\n\nФОРМАТ:\n{\n  \"questions_text\": \"пронумерованный список для передачи врачу\",\n  \"questions\": [\n    {\n      \"id\": \"M1\",\n      \"fragment\": \"\",\n      \"question\": \"\",\n      \"reason\": \"\",\n      \"suggested_safe_wording\": \"\"\n    }\n  ],\n  \"critical_count\": 0,\n  \"warnings\": []\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'apply_med_answers') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nВнеси ответы медицинского редактора в статью точечно.\nМеняй только те фрагменты, к которым относятся ответы.\nНе улучшай стиль остального текста и не генерируй статью заново.\nЕсли ответ врача неоднозначен, не меняй фрагмент и добавь предупреждение.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changes\": [\n    {\n      \"question_id\": \"\",\n      \"before\": \"\",\n      \"after\": \"\",\n      \"status\": \"changed|deleted|unchanged\"\n    }\n  ],\n  \"unresolved_questions\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nВОПРОСЫ И ОТВЕТЫ:\n${compactJson({\n  questions: data.med_questions ?? data.questions ?? '',\n  answers: data.med_answers ?? data.answers ?? ''\n})}\n`;\n}\n\nif (action === 'validate_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПроверь статью перед публикацией. Ничего не переписывай.\n\nПРОВЕРКИ:\n- наличие обязательных блоков выбранной структуры;\n- выполнение дополнительных требований;\n- нарушения forbidden и YMYL;\n- гарантии результата, заочная диагностика и назначения;\n- числа и медицинские утверждения без источника;\n- соответствие источников тексту;\n- title, description, code, preview, short_answer;\n- HTML: запрещённые теги, незакрытые конструкции, дубли H1;\n- дисклеймер;\n- логичность CTA;\n- соответствие автора и медредактора переданным данным.\n\nФОРМАТ:\n{\n  \"passed\": false,\n  \"score\": 0,\n  \"report_text\": \"\",\n  \"errors\": [\n    {\n      \"code\": \"\",\n      \"severity\": \"critical|major|minor\",\n      \"location\": \"\",\n      \"message\": \"\",\n      \"recommended_fix\": \"\"\n    }\n  ],\n  \"warnings\": [],\n  \"checks\": [\n    {\n      \"name\": \"\",\n      \"passed\": true,\n      \"details\": \"\"\n    }\n  ]\n}\n\nСТАТЬЯ:\n${compactJson(article)}\n\nТЕХНИЧЕСКОЕ ЗАДАНИЕ:\n${compactJson(data)}\n`;\n}\n\nif (action === 'revise_article') {\n  const article = articleFromPayload(data);\n  prompt = `${commonRules}\n\nЗАДАЧА:\nПереработай только фрагменты, прямо указанные в замечаниях.\nНе меняй согласованные части, структуру, факты TEMED и ответы врача без необходимости.\nВерни полный объект статьи после точечной правки.\n\nФОРМАТ:\n{\n  \"article\": {\n    \"name\": \"\",\n    \"code\": \"\",\n    \"seo_title\": \"\",\n    \"meta_description\": \"\",\n    \"preview_text\": \"\",\n    \"short_answer\": \"\",\n    \"detail_html\": \"\",\n    \"sources\": [],\n    \"related_articles\": []\n  },\n  \"changed_sections\": [\n    {\n      \"location\": \"\",\n      \"reason\": \"\",\n      \"before\": \"\",\n      \"after\": \"\"\n    }\n  ],\n  \"unresolved_comments\": [],\n  \"warnings\": []\n}\n\nИСХОДНАЯ СТАТЬЯ:\n${compactJson(article)}\n\nЗАМЕЧАНИЯ:\n${compactJson(data.revision_request ?? data.comments ?? data.validation_report ?? '')}\n\nКОНТЕКСТ:\n${compactJson(data)}\n`;\n}\n\nif (!direct && !prompt && !isDraftAction && !isTranscribeAction) {\n  return fail(\n    'ACTION_NOT_IMPLEMENTED',\n    'Для действия не сформирован обработчик.',\n    501\n  );\n}\n\nreturn [{\n  json: {\n    valid: true,\n    success: true,\n    direct,\n    is_draft_action: isDraftAction,\n    is_transcribe_action: isTranscribeAction,\n    action,\n    request_id: requestId,\n    generation_id: generationId,\n    data,\n    prompt,\n    response,\n    http_status: response?.http_status ?? 200\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -32
      ],
      "id": "e1181e2e-fcc9-4d0a-991e-1a7d01618d7e",
      "name": "Prepare request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "request_valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3728,
        -32
      ],
      "id": "cb156cc5-a924-4b6c-9abb-509e62e00eb6",
      "name": "IF request valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3504,
        -128
      ],
      "id": "8bcc4e7c-5f87-4da5-a2ed-996d6b0117e8",
      "name": "Respond request error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "direct_response",
              "leftValue": "={{ $json.direct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2832,
        112
      ],
      "id": "e933126c-bff0-4dec-a102-25e66bc207a1",
      "name": "IF direct response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1808,
        -320
      ],
      "id": "b8e0d157-52a4-4484-b2f8-71dc637df5ad",
      "name": "Respond direct"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2608,
        184
      ],
      "id": "8dbba4b6-1f80-43ca-abf1-6de44c3f1632",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "AYsswqQnu0370Vfk",
          "name": "OpenAi [ temed | cid ]"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prepared = $node['Prepare request'].json;\n\nlet raw =\n  $json.message?.content\n  ?? $json.text\n  ?? $json.content\n  ?? $json.output\n  ?? $json.response\n  ?? '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nfunction extractObject(text) {\n  try {\n    return JSON.parse(text);\n  } catch (_) {}\n\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n\n  if (start >= 0 && end > start) {\n    return JSON.parse(text.slice(start, end + 1));\n  }\n\n  throw new Error('JSON object not found');\n}\n\ntry {\n  const parsed = extractObject(raw);\n\n  if (!parsed || Array.isArray(parsed) || typeof parsed !== 'object') {\n    throw new Error('Model returned non-object JSON');\n  }\n\n  return [{\n    json: {\n      success: true,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      data: parsed,\n      meta: {\n        model: 'gpt-5.4-mini',\n        workflow: 'TEMED SEO Editor v1',\n        completed_at: new Date().toISOString()\n      },\n      http_status: 200\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      action: prepared.action,\n      request_id: prepared.request_id,\n      generation_id: prepared.generation_id,\n      error_code: 'MODEL_JSON_PARSE_ERROR',\n      message: 'Модель вернула ответ, который не удалось разобрать как JSON.',\n      details: {\n        error: String(error.message || error),\n        raw_preview: raw.slice(0, 2000)\n      },\n      http_status: 502\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        184
      ],
      "id": "e6e8e8fe-8a6a-4097-a1f0-579790fae18a",
      "name": "Parse model JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "model_success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        184
      ],
      "id": "8dfc30a5-be4f-4609-b478-31ea6925466d",
      "name": "IF model result valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1808,
        88
      ],
      "id": "40405a66-0db8-4e33-bca6-6513bbac76fc",
      "name": "Respond success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 502 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1808,
        280
      ],
      "id": "78e669b5-2202-4059-babe-5601297c9c13",
      "name": "Respond model error"
    },
    {
      "parameters": {
        "content": "## TEMED SEO Editor v1\n\nОдин защищённый webhook для AI-операций редактора SEO-статей.\n\n### Авторизация webhook\n\nWebhook защищён встроенной авторизацией n8n Header Auth.\n\nCredential:\nX-Temed-Seo-Secret\n\nHTTP-заголовок:\nX-TEMED-SEO-SECRET\n\nЗначение секрета хранится:\n- внутри credential n8n;\n- в закрытом `/internal/seo-editor/config.php` как `n8n_secret`.\n\nСекрет запрещено хранить:\n- в `Prepare request`;\n- в workflow JSON;\n- в GitHub;\n- в теле запроса;\n- в документации.\n\nPHP proxy отправляет секрет в заголовке `X-TEMED-SEO-SECRET`.\n\n### Поддерживаемые действия\n\nСохранить актуальный список действий из workflow.\n\nЗапись в Bitrix остаётся отключённой, если это предусмотрено текущей схемой.\n\n### Черновики\n\nЧерновики встроены в этот же webhook и этот же workflow.\n\nActions:\n- draft_health\n- draft_list\n- draft_get\n- draft_create\n- draft_save_version\n- draft_list_versions\n- draft_get_version\n- draft_restore_version\n- draft_archive\n- draft_unarchive\n- draft_purge\n\nХранилище: Google Sheets\nSpreadsheet ID:\n1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto\n\nЛисты:\nЧерновики / Версии / Снимки\n\nGoogle Apps Script и Google Drive не используются.\n",
        "height": 720,
        "width": 788
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4304,
        -976
      ],
      "id": "55b8ac9e-7081-44c6-a6f5-b71a1d11b922",
      "name": "Setup notes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_start_external_uniqueness",
              "leftValue": "={{ $json.action }}",
              "rightValue": "start_external_uniqueness",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3280,
        -152
      ],
      "id": "e02338df-151f-4bff-b370-46db87e38e77",
      "name": "IF start external uniqueness"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $input.first().json;\nconst data = prepared.data ?? {};\nconst text = data.text;\nconst contentHash = data.content_hash;\nfunction fail(errorCode, message, httpStatus = 400) {\n  return [{json: {success: false, action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, error_code: errorCode, message, http_status: httpStatus}}];\n}\nlet payloadSize = 0;\ntry { payloadSize = JSON.stringify(data).length; } catch (_) { payloadSize = 0; }\nif (payloadSize > 170000) return fail('TEXT_RU_PAYLOAD_TOO_LARGE', 'Payload для TEXT.RU превышает лимит workflow.', 413);\nif (typeof text !== 'string') return fail('TEXT_RU_TEXT_REQUIRED', 'Для проверки TEXT.RU требуется текст строкой.', 400);\nconst trimmed = text.trim();\nif (!trimmed) return fail('TEXT_RU_TEXT_REQUIRED', 'Для проверки TEXT.RU требуется непустой текст.', 400);\nif (trimmed.length < 100) return fail('TEXT_TOO_SHORT_FOR_TEXT_RU', 'Для проверки TEXT.RU требуется не менее 100 символов.', 400);\nif (trimmed.length > 150000) return fail('TEXT_TOO_LONG_FOR_TEXT_RU', 'TEXT.RU принимает не более 150000 символов.', 400);\nif (typeof contentHash !== 'string' || !contentHash.trim()) return fail('TEXT_RU_CONTENT_HASH_REQUIRED', 'Для проверки TEXT.RU требуется content_hash.', 400);\nreturn [{json: {action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, content_hash: contentHash.trim(), text: trimmed, submitted_at: new Date().toISOString()}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        -488
      ],
      "id": "aff0e26a-e83e-40bd-a373-47921f603e66",
      "name": "Prepare TEXT.RU submit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.text.ru/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        -560
      ],
      "id": "430209c6-f180-4668-846f-13e32ec7977e",
      "name": "TEXT.RU — Submit text",
      "credentials": {
        "httpCustomAuth": {
          "id": "B5x4KM4IzNjPvjnN",
          "name": "TEXT.RU API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function textRuError(action, requestId, generationId, raw, ctx = {}) {\n  const code = Number(raw?.error_code ?? raw?.code ?? 0);\n  const desc = String(raw?.error_desc ?? raw?.message ?? '').slice(0, 500);\n  const base = {success: false, action, request_id: requestId, generation_id: generationId, data: {status: 'failed', provider: 'text.ru', content_hash: ctx.content_hash, text_uid: ctx.text_uid}};\n  const validation = new Set([110,111,112,113,150]);\n  const credential = new Set([120,121,170,171,141,146]);\n  const provider = new Set([140,143,144,145,151,182,183]);\n  if (validation.has(code)) return {...base, error_code: code === 112 ? 'TEXT_TOO_SHORT_FOR_TEXT_RU' : code === 113 ? 'TEXT_TOO_LONG_FOR_TEXT_RU' : 'TEXT_RU_VALIDATION_ERROR', message: desc || 'TEXT.RU отклонил текст для проверки.', http_status: 400};\n  if (credential.has(code)) return {...base, error_code: 'TEXT_RU_CREDENTIAL_ERROR', message: 'Не удалось авторизоваться в TEXT.RU. Проверьте credential TEXT.RU API.', http_status: 502};\n  if (code === 142) return {...base, error_code: 'TEXT_RU_INSUFFICIENT_BALANCE', message: 'На балансе TEXT.RU недостаточно символов для проверки.', http_status: 402};\n  if (code === 160 || code === 161) return {...base, error_code: 'TEXT_RU_UID_INVALID', message: desc || 'TEXT.RU требует корректный UID проверки.', http_status: 400};\n  if (code === 180) return {...base, error_code: 'TEXT_RU_UID_NOT_FOUND', message: 'TEXT.RU не нашёл результат для указанного UID.', http_status: 404};\n  if (code === 429) return {...base, error_code: 'TEXT_RU_RATE_LIMIT', message: 'TEXT.RU временно ограничил количество запросов.', data: {...base.data, retry_after_seconds: 60}, http_status: 429};\n  if (provider.has(code)) return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: code === 182 ? 'Проверка завершилась ошибкой на стороне TEXT.RU.' : (desc || 'TEXT.RU временно не смог выполнить проверку.'), http_status: 502};\n  return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: desc || 'TEXT.RU вернул ошибку.', http_status: 502};\n}\n\nconst raw = $input.first().json;\nconst ctx = $node['Prepare TEXT.RU submit'].json;\nif (raw?.error_code !== undefined) return [{json: textRuError(ctx.action, ctx.request_id, ctx.generation_id, raw, ctx)}];\nconst textUid = typeof raw?.text_uid === 'string' ? raw.text_uid.trim() : '';\nif (!textUid) return [{json: {success: false, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, error_code: 'TEXT_RU_INVALID_RESPONSE', message: 'TEXT.RU не вернул text_uid.', data: {status: 'failed', content_hash: ctx.content_hash, provider: 'text.ru'}, http_status: 502}}];\nreturn [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'processing', text_uid: textUid, content_hash: ctx.content_hash, submitted_at: ctx.submitted_at, retry_after_seconds: 15, provider: 'text.ru'}, http_status: 200}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -560
      ],
      "id": "b982e78b-9631-43e4-a02c-abe663412ee9",
      "name": "Normalize TEXT.RU submit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_get_external_uniqueness",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_external_uniqueness",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3056,
        -32
      ],
      "id": "70a2330a-32d0-4034-bd17-35462de7e110",
      "name": "IF get external uniqueness"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $input.first().json;\nconst data = prepared.data ?? {};\nconst uid = data.text_uid ?? data.uid;\nconst contentHash = data.content_hash;\nfunction fail(errorCode, message, httpStatus = 400) { return [{json: {success: false, action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, error_code: errorCode, message, http_status: httpStatus}}]; }\nif (typeof uid !== 'string' || !uid.trim()) return fail('TEXT_RU_UID_REQUIRED', 'Для запроса результата TEXT.RU требуется text_uid.', 400);\nconst textUid = uid.trim();\nif (textUid.length > 200 || /[\\u0000-\\u001F\\u007F]/.test(textUid)) return fail('TEXT_RU_UID_INVALID', 'UID TEXT.RU имеет недопустимый формат.', 400);\nif (typeof contentHash !== 'string' || !contentHash.trim()) return fail('TEXT_RU_CONTENT_HASH_REQUIRED', 'Для результата TEXT.RU требуется content_hash.', 400);\nreturn [{json: {action: prepared.action, request_id: prepared.request_id, generation_id: prepared.generation_id, content_hash: contentHash.trim(), text_uid: textUid}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        -248
      ],
      "id": "d2ce5b95-b59d-49de-8403-2570a58aea1b",
      "name": "Prepare TEXT.RU result request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.text.ru/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        -176
      ],
      "id": "38463e91-2f19-4368-8fdf-fdb9460e77eb",
      "name": "TEXT.RU — Get result",
      "credentials": {
        "httpCustomAuth": {
          "id": "B5x4KM4IzNjPvjnN",
          "name": "TEXT.RU API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function textRuError(action, requestId, generationId, raw, ctx = {}) {\n  const code = Number(raw?.error_code ?? raw?.code ?? 0);\n  const desc = String(raw?.error_desc ?? raw?.message ?? '').slice(0, 500);\n  const base = {success: false, action, request_id: requestId, generation_id: generationId, data: {status: 'failed', provider: 'text.ru', content_hash: ctx.content_hash, text_uid: ctx.text_uid}};\n  const validation = new Set([110,111,112,113,150]);\n  const credential = new Set([120,121,170,171,141,146]);\n  const provider = new Set([140,143,144,145,151,182,183]);\n  if (validation.has(code)) return {...base, error_code: code === 112 ? 'TEXT_TOO_SHORT_FOR_TEXT_RU' : code === 113 ? 'TEXT_TOO_LONG_FOR_TEXT_RU' : 'TEXT_RU_VALIDATION_ERROR', message: desc || 'TEXT.RU отклонил текст для проверки.', http_status: 400};\n  if (credential.has(code)) return {...base, error_code: 'TEXT_RU_CREDENTIAL_ERROR', message: 'Не удалось авторизоваться в TEXT.RU. Проверьте credential TEXT.RU API.', http_status: 502};\n  if (code === 142) return {...base, error_code: 'TEXT_RU_INSUFFICIENT_BALANCE', message: 'На балансе TEXT.RU недостаточно символов для проверки.', http_status: 402};\n  if (code === 160 || code === 161) return {...base, error_code: 'TEXT_RU_UID_INVALID', message: desc || 'TEXT.RU требует корректный UID проверки.', http_status: 400};\n  if (code === 180) return {...base, error_code: 'TEXT_RU_UID_NOT_FOUND', message: 'TEXT.RU не нашёл результат для указанного UID.', http_status: 404};\n  if (code === 429) return {...base, error_code: 'TEXT_RU_RATE_LIMIT', message: 'TEXT.RU временно ограничил количество запросов.', data: {...base.data, retry_after_seconds: 60}, http_status: 429};\n  if (provider.has(code)) return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: code === 182 ? 'Проверка завершилась ошибкой на стороне TEXT.RU.' : (desc || 'TEXT.RU временно не смог выполнить проверку.'), http_status: 502};\n  return {...base, error_code: 'TEXT_RU_PROVIDER_ERROR', message: desc || 'TEXT.RU вернул ошибку.', http_status: 502};\n}\n\nconst raw = $input.first().json;\nconst ctx = $node['Prepare TEXT.RU result request'].json;\nif (Number(raw?.error_code) === 181) return [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'processing', text_uid: ctx.text_uid, content_hash: ctx.content_hash, retry_after_seconds: 15, provider: 'text.ru'}, http_status: 200}}];\nif (raw?.error_code !== undefined) return [{json: textRuError(ctx.action, ctx.request_id, ctx.generation_id, raw, ctx)}];\nif (raw?.text_unique === undefined) return [{json: {success: false, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, error_code: 'TEXT_RU_INVALID_RESPONSE', message: 'TEXT.RU не вернул статус обработки или процент уникальности.', data: {status: 'failed', text_uid: ctx.text_uid, content_hash: ctx.content_hash, provider: 'text.ru'}, http_status: 502}}];\nconst warnings = [];\nfunction parseMaybeJson(value, fallback, field) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value !== 'string') return value;\n  try { return JSON.parse(value); } catch (_) { warnings.push(`TEXT_RU_${field.toUpperCase()}_PARSE_WARNING`); return fallback; }\n}\nconst uniqueness = Number(String(raw.text_unique).replace(',', '.'));\nconst result = parseMaybeJson(raw.result_json, {}, 'result_json');\nconst spellCheck = parseMaybeJson(raw.spell_check, [], 'spell_check');\nconst seoCheck = parseMaybeJson(raw.seo_check, {}, 'seo_check');\nreturn [{json: {success: true, action: ctx.action, request_id: ctx.request_id, generation_id: ctx.generation_id, data: {status: 'completed', text_uid: ctx.text_uid, content_hash: ctx.content_hash, checked_at: new Date().toISOString(), uniqueness_percent: Number.isFinite(uniqueness) ? uniqueness : 0, result: {date_check: result.date_check ?? '', unique: Number(result.unique ?? uniqueness) || uniqueness || 0, urls: Array.isArray(result.urls) ? result.urls : [], text_view: result.text_view ?? '', words_pos: Array.isArray(result.words_pos) ? result.words_pos : []}, spell_check: Array.isArray(spellCheck) ? spellCheck : [], seo_check: seoCheck && typeof seoCheck === 'object' && !Array.isArray(seoCheck) ? seoCheck : {}, provider: 'text.ru', warnings}, http_status: 200}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -176
      ],
      "id": "1e26e0ec-9fa4-48f8-b037-071db22d7a07",
      "name": "Normalize TEXT.RU result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        -488
      ],
      "id": "b51979ca-e00e-48c2-8d5c-0bf1da781956",
      "name": "IF TEXT.RU submit prepared"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.text_uid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        -248
      ],
      "id": "1cc4ca6b-e5d4-4615-9cdd-df8f3f07af67",
      "name": "IF TEXT.RU result prepared"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_draft_action",
              "leftValue": "={{ $json.is_draft_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3504,
        64
      ],
      "id": "824193d5-7c64-43d9-8882-de1f80300c6c",
      "name": "IF draft action"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $input.first().json;\nconst action = String(prepared.action || '');\nconst data = prepared.data && typeof prepared.data === 'object' ? prepared.data : {};\n\n// ====================================================================\n// Spreadsheet ID черновиков. Заменить на ID нового файла Google Sheets.\n// Это единственное место, где ID задаётся в workflow.\n// ====================================================================\nconst spreadsheetId = '1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto';\n\nconst requiredSheets = ['Черновики', 'Версии', 'Снимки'];\nconst rangesByAction = {\n  draft_health: requiredSheets.map(name => `'${name}'!A1:AZ2`),\n  draft_list: [\"'Черновики'!A:AZ\"],\n  draft_get: [\"'Черновики'!A:AZ\", \"'Версии'!A:AZ\", \"'Снимки'!A:AZ\"],\n  draft_create: [\"'Черновики'!A:AZ\", \"'Версии'!A1:AZ2\", \"'Снимки'!A1:AZ2\"],\n  draft_save_version: [\"'Черновики'!A:AZ\", \"'Версии'!A1:AZ2\", \"'Снимки'!A1:AZ2\"],\n  draft_list_versions: [\"'Черновики'!A:AZ\", \"'Версии'!A:AZ\"],\n  draft_get_version: [\"'Версии'!A:AZ\", \"'Снимки'!A:AZ\"],\n  draft_restore_version: [\"'Черновики'!A:AZ\", \"'Версии'!A:AZ\", \"'Снимки'!A:AZ\"],\n  draft_archive: [\"'Черновики'!A:AZ\"],\n  draft_unarchive: [\"'Черновики'!A:AZ\"],\n  draft_purge: [\"'Черновики'!A:AZ\", \"'Версии'!A:AZ\", \"'Снимки'!A:AZ\"]\n};\n\nfunction fail(errorCode, message, httpStatus = 400, details = {}) {\n  return [{\n    json: {\n      success: false,\n      action,\n      request_id: prepared.request_id,\n      error_code: errorCode,\n      message,\n      details,\n      http_status: httpStatus,\n      metadata_url: '',\n      batch_get_url: '',\n      required_sheets: requiredSheets,\n      data\n    }\n  }];\n}\n\nif (!rangesByAction[action]) {\n  return fail('INVALID_ACTION', 'Неизвестное действие черновиков.');\n}\n\nlet payloadSize = 0;\ntry {\n  payloadSize = Buffer.byteLength(JSON.stringify(data), 'utf8');\n} catch (_) {}\n\nif (payloadSize > 5 * 1024 * 1024) {\n  return fail('PAYLOAD_TOO_LARGE', 'Снимок черновика превышает 5 МБ.', 413);\n}\n\nconst query = rangesByAction[action]\n  .map(range => `ranges=${encodeURIComponent(range)}`)\n  .join('&');\n\nreturn [{\n  json: {\n    success: true,\n    action,\n    request_id: prepared.request_id,\n    generation_id: prepared.generation_id,\n    spreadsheet_id: spreadsheetId,\n    required_sheets: requiredSheets,\n    range_names: rangesByAction[action],\n    metadata_url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}?includeGridData=false&fields=sheets.properties`,\n    batch_get_url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values:batchGet?majorDimension=ROWS&${query}`,\n    data,\n    http_status: 200\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        568
      ],
      "id": "5e2c72b2-3b62-412c-925e-f896b86ade77",
      "name": "Prepare draft request"
    },
    {
      "parameters": {
        "url": "={{ $json.metadata_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3056,
        568
      ],
      "id": "4915645e-b59a-4488-b46c-5a994072a76d",
      "name": "Draft sheets metadata",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $node['Prepare draft request'].json;\nif (ctx.success === false) {\n  return [{json: {...ctx, continue: false, response: ctx}}];\n}\n\nconst raw = $input.first().json;\nconst sheets = Array.isArray(raw.sheets) ? raw.sheets : [];\nconst byTitle = {};\n\nfor (const item of sheets) {\n  const p = item && item.properties ? item.properties : {};\n  if (p.title) {\n    byTitle[String(p.title)] = {\n      sheet_id: Number(p.sheetId),\n      row_count: Number(p.gridProperties?.rowCount || 0),\n      column_count: Number(p.gridProperties?.columnCount || 0)\n    };\n  }\n}\n\nconst missing = ctx.required_sheets.filter(name => !byTitle[name]);\n\nif (missing.length) {\n  const response = {\n    success: false,\n    action: ctx.action,\n    request_id: ctx.request_id,\n    error_code: 'SHEET_NOT_FOUND',\n    message: 'В Google Sheets отсутствуют обязательные листы.',\n    details: {missing_sheets: missing},\n    http_status: 422\n  };\n  return [{json: {...ctx, sheet_meta: byTitle, continue: false, response}}];\n}\n\nreturn [{json: {...ctx, sheet_meta: byTitle, continue: true}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        568
      ],
      "id": "b08756ed-0514-418f-b185-7bd7e06efb40",
      "name": "Validate draft sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_sheets_valid",
              "leftValue": "={{ $json.continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        568
      ],
      "id": "8a7adee6-34b8-4f38-a5ea-eaa41c8711f0",
      "name": "IF draft sheets valid"
    },
    {
      "parameters": {
        "url": "={{ $json.batch_get_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        640
      ],
      "id": "97cf593f-aa83-4548-84fe-c18d46fa378e",
      "name": "Draft sheets batch get",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $node['Validate draft sheets'].json;\nconst prepared = $node['Prepare request'].json;\nconst action = ctx.action;\nconst data = ctx.data || {};\nconst requestId = ctx.request_id;\nconst spreadsheetId = ctx.spreadsheet_id;\nconst sheetMeta = ctx.sheet_meta || {};\nconst batch = $input.first().json;\n\nconst ALLOWED_STATUSES = ['active', 'archived'];\n\nfunction normalizeStatus(value, fallback = 'active') {\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ALLOWED_STATUSES.includes(normalized) ? normalized : fallback;\n}\n\nfunction responseError(code, message, status = 400, details = {}) {\n  return [{\n    json: {\n      direct: true,\n      requests: [],\n      response: {\n        success: false,\n        action,\n        request_id: requestId,\n        error_code: code,\n        message,\n        details,\n        http_status: status\n      },\n      http_status: status\n    }\n  }];\n}\n\nfunction headerCode(value) {\n  const parts = String(value || '').split(/\\r?\\n/);\n  return parts[parts.length - 1].trim();\n}\n\nfunction titleFromRange(range) {\n  const text = String(range || '');\n  const quoted = text.match(/^'([^']+)'!/);\n  if (quoted) return quoted[1];\n  return text.split('!')[0].replace(/^'|'$/g, '');\n}\n\nfunction parseSheet(valueRange) {\n  const values = Array.isArray(valueRange?.values) ? valueRange.values : [];\n  const headers = (values[0] || []).map(headerCode);\n  const rows = values.slice(1)\n    .map((valuesRow, index) => {\n      const row = {__row_number: index + 2};\n      headers.forEach((code, columnIndex) => {\n        if (code) row[code] = valuesRow[columnIndex] ?? '';\n      });\n      return row;\n    })\n    .filter(row => Object.entries(row).some(([key, value]) => key !== '__row_number' && String(value).trim() !== ''));\n  return {headers, rows};\n}\n\nconst sheets = {};\nfor (const valueRange of (batch.valueRanges || [])) {\n  sheets[titleFromRange(valueRange.range)] = parseSheet(valueRange);\n}\n\nfunction getSheet(name) {\n  return sheets[name] || {headers: [], rows: []};\n}\n\nfunction missingColumns(name, required) {\n  const headers = getSheet(name).headers;\n  return required.filter(code => !headers.includes(code));\n}\n\nconst requiredColumns = {\n  'Черновики': [\n    'DRAFT_ID','NAME','STATUS','LAST_COMMENT','CURRENT_VERSION','CURRENT_VERSION_ID',\n    'CREATED_AT','UPDATED_AT','SNAPSHOT_HASH','SNAPSHOT_SIZE','SNAPSHOT_CHUNKS','SNAPSHOT_ENCODING'\n  ],\n  'Версии': [\n    'VERSION_ID','DRAFT_ID','VERSION_NUMBER','SAVED_AT','SAVE_COMMENT',\n    'SNAPSHOT_HASH','SNAPSHOT_SIZE','SNAPSHOT_CHUNKS','SNAPSHOT_ENCODING'\n  ],\n  'Снимки': [\n    'VERSION_ID','DRAFT_ID','CHUNK_INDEX','CHUNK_COUNT','SNAPSHOT_CHUNK',\n    'SNAPSHOT_HASH','SNAPSHOT_SIZE','CREATED_AT'\n  ]\n};\n\nconst columnsMissing = {};\nfor (const [name, required] of Object.entries(requiredColumns)) {\n  if (getSheet(name).headers.length) {\n    const missing = missingColumns(name, required);\n    if (missing.length) columnsMissing[name] = missing;\n  }\n}\n\nif (action === 'draft_health') {\n  const missingSheets = ctx.required_sheets.filter(name => !sheetMeta[name]);\n  return [{\n    json: {\n      direct: true,\n      requests: [],\n      response: {\n        success: missingSheets.length === 0 && Object.keys(columnsMissing).length === 0,\n        action,\n        request_id: requestId,\n        data: {\n          spreadsheet_id: spreadsheetId,\n          sheets: Object.fromEntries(ctx.required_sheets.map(name => [name, !!sheetMeta[name]])),\n          missing_columns: columnsMissing,\n          orphan_snapshot_chunks: null,\n          orphan_check: 'not_run_in_health'\n        },\n        ...(missingSheets.length || Object.keys(columnsMissing).length ? {\n          error_code: 'DRAFT_STORAGE_SCHEMA_INVALID',\n          message: 'Структура Google Sheets для черновиков не готова.'\n        } : {}),\n        http_status: missingSheets.length || Object.keys(columnsMissing).length ? 422 : 200\n      },\n      http_status: missingSheets.length || Object.keys(columnsMissing).length ? 422 : 200\n    }\n  }];\n}\n\nconst requiredForAction = {\n  draft_list: ['Черновики'],\n  draft_get: ['Черновики','Версии','Снимки'],\n  draft_create: ['Черновики','Версии','Снимки'],\n  draft_save_version: ['Черновики','Версии','Снимки'],\n  draft_list_versions: ['Черновики','Версии'],\n  draft_get_version: ['Версии','Снимки'],\n  draft_restore_version: ['Черновики','Версии','Снимки'],\n  draft_archive: ['Черновики'],\n  draft_unarchive: ['Черновики'],\n  draft_purge: ['Черновики','Версии','Снимки']\n}[action] || [];\n\nfor (const sheetName of requiredForAction) {\n  if (columnsMissing[sheetName]?.length) {\n    return responseError(\n      'COLUMN_NOT_FOUND',\n      `На листе «${sheetName}» отсутствуют обязательные колонки.`,\n      422,\n      {sheet: sheetName, missing_columns: columnsMissing[sheetName]}\n    );\n  }\n}\n\nfunction number(value, fallback = 0) {\n  const result = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(result) ? result : fallback;\n}\n\nfunction uuid(prefix) {\n  return `${prefix}-${Date.now()}-${Math.random().toString(36).slice(2, 10)}-${Math.random().toString(36).slice(2, 8)}`;\n}\n\nfunction now() {\n  return new Date().toISOString();\n}\n\nfunction stableValue(value) {\n  if (Array.isArray(value)) return value.map(stableValue);\n  if (value && typeof value === 'object') {\n    return Object.keys(value).sort().reduce((result, key) => {\n      const item = value[key];\n      if (item !== undefined && typeof item !== 'function') result[key] = stableValue(item);\n      return result;\n    }, {});\n  }\n  return value;\n}\n\nfunction sha256(ascii) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  const lengthProperty = 'length';\n  let i, j;\n  let result = '';\n  const words = [];\n  const asciiBitLength = ascii[lengthProperty] * 8;\n  const hash = sha256.h = sha256.h || [];\n  const k = sha256.k = sha256.k || [];\n  let primeCounter = k[lengthProperty];\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) isComposite[i] = candidate;\n      hash[primeCounter] = (mathPow(candidate, .5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n  ascii = unescape(encodeURIComponent(ascii));\n  ascii += '\\x80';\n  while (ascii[lengthProperty] % 64 - 56) ascii += '\\x00';\n  for (i = 0; i < ascii[lengthProperty]; i++) {\n    j = ascii.charCodeAt(i);\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words[lengthProperty]] = ((asciiBitLength / maxWord) | 0);\n  words[words[lengthProperty]] = (asciiBitLength);\n  for (j = 0; j < words[lengthProperty];) {\n    const w = words.slice(j, j += 16);\n    const oldHash = hash.slice(0);\n    for (i = 0; i < 64; i++) {\n      const i2 = i + j;\n      let w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ ((~e) & hash[6]))\n        + k[i]\n        + (w[i] = i < 16 ? w[i] : (\n          w[i - 16]\n          + (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3))\n          + w[i - 7]\n          + (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0);\n      const temp2 = (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash.pop();\n      hash.unshift((temp1 + temp2) | 0);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n    for (i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16) ? '0' : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nfunction snapshotPackage(snapshot) {\n  if (!snapshot || typeof snapshot !== 'object' || Array.isArray(snapshot)) {\n    throw new Error('SNAPSHOT_REQUIRED');\n  }\n  const normalized = stableValue(snapshot);\n  if (!normalized.schema_version) normalized.schema_version = '1.0';\n  const json = JSON.stringify(normalized);\n  const size = Buffer.byteLength(json, 'utf8');\n  if (size > 5 * 1024 * 1024) throw new Error('PAYLOAD_TOO_LARGE');\n  const hash = sha256(json);\n  const base64 = Buffer.from(json, 'utf8').toString('base64');\n  const chunks = [];\n  for (let offset = 0; offset < base64.length; offset += 40000) {\n    chunks.push(base64.slice(offset, offset + 40000));\n  }\n  return {json, size, hash, chunks, encoding: 'base64-utf8-v1'};\n}\n\nfunction reconstruct(versionId) {\n  const version = getSheet('Версии').rows.find(row => String(row.VERSION_ID || '') === String(versionId));\n  if (!version) throw new Error('VERSION_NOT_FOUND');\n  const chunks = getSheet('Снимки').rows\n    .filter(row => String(row.VERSION_ID || '') === String(versionId))\n    .sort((a, b) => number(a.CHUNK_INDEX) - number(b.CHUNK_INDEX));\n  const expected = number(version.SNAPSHOT_CHUNKS, number(chunks[0]?.CHUNK_COUNT));\n  if (!expected || chunks.length !== expected) throw new Error('SNAPSHOT_INCOMPLETE');\n  const seen = new Set();\n  for (let index = 1; index <= expected; index++) {\n    const row = chunks[index - 1];\n    const actual = number(row.CHUNK_INDEX);\n    if (actual !== index || seen.has(actual)) throw new Error('SNAPSHOT_INCOMPLETE');\n    seen.add(actual);\n  }\n  const base64 = chunks.map(row => String(row.SNAPSHOT_CHUNK || '')).join('');\n  let json;\n  try {\n    json = Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    throw new Error('SNAPSHOT_INVALID_JSON');\n  }\n  const expectedSize = number(version.SNAPSHOT_SIZE, number(chunks[0]?.SNAPSHOT_SIZE));\n  if (expectedSize && Buffer.byteLength(json, 'utf8') !== expectedSize) throw new Error('SNAPSHOT_INCOMPLETE');\n  const expectedHash = String(version.SNAPSHOT_HASH || chunks[0]?.SNAPSHOT_HASH || '');\n  if (!expectedHash || sha256(json) !== expectedHash) throw new Error('SNAPSHOT_HASH_MISMATCH');\n  let snapshot;\n  try {\n    snapshot = JSON.parse(json);\n  } catch (_) {\n    throw new Error('SNAPSHOT_INVALID_JSON');\n  }\n  if (!['1.0'].includes(String(snapshot.schema_version || '1.0'))) {\n    throw new Error('SNAPSHOT_UNSUPPORTED_VERSION');\n  }\n  return {version, snapshot};\n}\n\nfunction errorFromException(error) {\n  const code = String(error?.message || error);\n  const map = {\n    SNAPSHOT_REQUIRED: ['INVALID_REQUEST', 'Не передан снимок редактора.', 422],\n    PAYLOAD_TOO_LARGE: ['PAYLOAD_TOO_LARGE', 'Снимок черновика превышает 5 МБ.', 413],\n    VERSION_NOT_FOUND: ['VERSION_NOT_FOUND', 'Версия черновика не найдена.', 404],\n    SNAPSHOT_INCOMPLETE: ['SNAPSHOT_INCOMPLETE', 'Снимок версии сохранён не полностью.', 500],\n    SNAPSHOT_HASH_MISMATCH: ['SNAPSHOT_HASH_MISMATCH', 'Контрольная сумма снимка не совпала.', 500],\n    SNAPSHOT_INVALID_JSON: ['SNAPSHOT_INVALID_JSON', 'Снимок версии повреждён.', 500],\n    SNAPSHOT_UNSUPPORTED_VERSION: ['SNAPSHOT_UNSUPPORTED_VERSION', 'Версия формата снимка не поддерживается.', 422]\n  };\n  return map[code] || ['INVALID_REQUEST', code, 422];\n}\n\nfunction colLetter(index) {\n  let result = '';\n  let n = index;\n  while (n > 0) {\n    n--;\n    result = String.fromCharCode(65 + (n % 26)) + result;\n    n = Math.floor(n / 26);\n  }\n  return result;\n}\n\nfunction rowValues(sheetName, object) {\n  const headers = getSheet(sheetName).headers;\n  return headers.map(code => {\n    const value = object[code];\n    if (value === undefined || value === null) return '';\n    if (typeof value === 'object') return JSON.stringify(value);\n    return value;\n  });\n}\n\nfunction appendRequest(sheetName, objects) {\n  const rows = objects.map(object => rowValues(sheetName, object));\n  return {\n    method: 'POST',\n    url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(`'${sheetName}'!A1`)}:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS`,\n    body: {majorDimension: 'ROWS', values: rows}\n  };\n}\n\nfunction updateRowRequest(sheetName, rowNumber, object) {\n  const headers = getSheet(sheetName).headers;\n  const last = colLetter(headers.length);\n  return {\n    method: 'PUT',\n    url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(`'${sheetName}'!A${rowNumber}:${last}${rowNumber}`)}?valueInputOption=RAW`,\n    body: {majorDimension: 'ROWS', values: [rowValues(sheetName, object)]}\n  };\n}\n\nfunction draftById(id) {\n  return getSheet('Черновики').rows.find(row => String(row.DRAFT_ID || '') === String(id));\n}\n\nfunction versionMetadata(version) {\n  const copy = {...version};\n  delete copy.__row_number;\n  return copy;\n}\n\nfunction draftMetadata(draft) {\n  const copy = {...draft};\n  delete copy.__row_number;\n  return copy;\n}\n\nif (action === 'draft_list') {\n  const query = String(data.query || '').trim().toLowerCase();\n  const limit = Math.min(Math.max(number(data.limit, 50), 1), 200);\n  const offset = Math.max(number(data.offset, 0), 0);\n  let rows = getSheet('Черновики').rows.filter(row => {\n    if (data.status && String(row.STATUS || '') !== String(data.status)) return false;\n    if (query) {\n      const haystack = [row.NAME, row.LAST_COMMENT]\n        .map(value => String(value || '').toLowerCase()).join(' ');\n      if (!haystack.includes(query)) return false;\n    }\n    return true;\n  });\n  rows.sort((a, b) => String(b.UPDATED_AT || '').localeCompare(String(a.UPDATED_AT || '')));\n  const total = rows.length;\n  rows = rows.slice(offset, offset + limit).map(draftMetadata);\n  return [{json: {direct: true, requests: [], response: {success: true, action, request_id: requestId, data: {items: rows,total,limit,offset}, http_status: 200}, http_status: 200}}];\n}\n\nif (action === 'draft_get') {\n  const draft = draftById(data.draft_id);\n  if (!draft) return responseError('DRAFT_NOT_FOUND', 'Черновик не найден.', 404);\n  try {\n    const loaded = reconstruct(String(draft.CURRENT_VERSION_ID || ''));\n    return [{json: {direct: true, requests: [], response: {success: true, action, request_id: requestId, data: {draft: draftMetadata(draft), version: versionMetadata(loaded.version), snapshot: loaded.snapshot}, http_status: 200}, http_status: 200}}];\n  } catch (error) {\n    const [code, message, status] = errorFromException(error);\n    return responseError(code, message, status);\n  }\n}\n\nif (action === 'draft_list_versions') {\n  const draft = draftById(data.draft_id);\n  if (!draft) return responseError('DRAFT_NOT_FOUND', 'Черновик не найден.', 404);\n  const items = getSheet('Версии').rows\n    .filter(row => String(row.DRAFT_ID || '') === String(data.draft_id))\n    .sort((a, b) => number(b.VERSION_NUMBER) - number(a.VERSION_NUMBER))\n    .map(versionMetadata);\n  return [{json: {direct: true, requests: [], response: {success: true, action, request_id: requestId, data: {draft: draftMetadata(draft), items}, http_status: 200}, http_status: 200}}];\n}\n\nif (action === 'draft_get_version') {\n  try {\n    const loaded = reconstruct(String(data.version_id || ''));\n    return [{json: {direct: true, requests: [], response: {success: true, action, request_id: requestId, data: {version: versionMetadata(loaded.version), snapshot: loaded.snapshot}, http_status: 200}, http_status: 200}}];\n  } catch (error) {\n    const [code, message, status] = errorFromException(error);\n    return responseError(code, message, status);\n  }\n}\n\nif (action === 'draft_create' || action === 'draft_save_version' || action === 'draft_restore_version') {\n  let draft = action === 'draft_create' ? null : draftById(data.draft_id);\n  if (action !== 'draft_create' && !draft) return responseError('DRAFT_NOT_FOUND', 'Черновик не найден.', 404);\n  if (action !== 'draft_create') {\n    const expected = number(data.expected_current_version, -1);\n    const actual = number(draft.CURRENT_VERSION, 0);\n    if (expected !== actual) {\n      return responseError('VERSION_CONFLICT', 'Черновик уже был изменён в другой вкладке.', 409, {expected, actual});\n    }\n  }\n\n  let snapshot = data.snapshot;\n  if (action === 'draft_restore_version') {\n    try {\n      const loaded = reconstruct(String(data.version_id || ''));\n      snapshot = loaded.snapshot;\n    } catch (error) {\n      const [code, message, status] = errorFromException(error);\n      return responseError(code, message, status);\n    }\n  }\n\n  let pkg;\n  try {\n    pkg = snapshotPackage(snapshot);\n  } catch (error) {\n    const [code, message, status] = errorFromException(error);\n    return responseError(code, message, status);\n  }\n\n  const timestamp = now();\n  const draftId = draft ? String(draft.DRAFT_ID) : uuid('draft');\n  const versionId = uuid('version');\n  const versionNumber = draft ? number(draft.CURRENT_VERSION, 0) + 1 : 1;\n  const metadata = data.metadata && typeof data.metadata === 'object' ? data.metadata : {};\n  const status = normalizeStatus(metadata.status ?? draft?.STATUS, 'active');\n  const comment = String(metadata.save_comment ?? data.save_comment ?? '');\n\n  const snapshotRows = pkg.chunks.map((chunk, index) => ({\n    VERSION_ID: versionId,\n    DRAFT_ID: draftId,\n    CHUNK_INDEX: index + 1,\n    CHUNK_COUNT: pkg.chunks.length,\n    SNAPSHOT_CHUNK: chunk,\n    SNAPSHOT_HASH: pkg.hash,\n    SNAPSHOT_SIZE: pkg.size,\n    CREATED_AT: timestamp\n  }));\n\n  const versionRow = {\n    VERSION_ID: versionId,\n    DRAFT_ID: draftId,\n    VERSION_NUMBER: versionNumber,\n    SAVED_AT: timestamp,\n    SAVE_COMMENT: comment,\n    SNAPSHOT_HASH: pkg.hash,\n    SNAPSHOT_SIZE: pkg.size,\n    SNAPSHOT_CHUNKS: pkg.chunks.length,\n    SNAPSHOT_ENCODING: pkg.encoding\n  };\n\n  const mergedDraft = {\n    DRAFT_ID: draftId,\n    NAME: String(metadata.name ?? draft?.NAME ?? snapshot?.article?.name ?? snapshot?.fields?.result_name ?? 'Без названия'),\n    STATUS: status,\n    LAST_COMMENT: comment,\n    CURRENT_VERSION: versionNumber,\n    CURRENT_VERSION_ID: versionId,\n    CREATED_AT: draft?.CREATED_AT || timestamp,\n    UPDATED_AT: timestamp,\n    SNAPSHOT_HASH: pkg.hash,\n    SNAPSHOT_SIZE: pkg.size,\n    SNAPSHOT_CHUNKS: pkg.chunks.length,\n    SNAPSHOT_ENCODING: pkg.encoding\n  };\n\n  const requests = [\n    appendRequest('Снимки', snapshotRows),\n    appendRequest('Версии', [versionRow]),\n    draft ? updateRowRequest('Черновики', draft.__row_number, mergedDraft) : appendRequest('Черновики', [mergedDraft])\n  ];\n\n  return [{\n    json: {\n      direct: false,\n      requests,\n      response: {\n        success: true,\n        action,\n        request_id: requestId,\n        data: {\n          draft_id: draftId,\n          version_id: versionId,\n          version_number: versionNumber,\n          snapshot_hash: pkg.hash,\n          snapshot_size: pkg.size,\n          snapshot_chunks: pkg.chunks.length\n        },\n        http_status: action === 'draft_create' ? 201 : 200\n      },\n      http_status: action === 'draft_create' ? 201 : 200\n    }\n  }];\n}\n\nif (action === 'draft_archive' || action === 'draft_unarchive') {\n  const draft = draftById(data.draft_id);\n  if (!draft) return responseError('DRAFT_NOT_FOUND', 'Черновик не найден.', 404);\n  const updated = {...draft};\n  delete updated.__row_number;\n  updated.STATUS = action === 'draft_archive' ? 'archived' : 'active';\n  updated.UPDATED_AT = now();\n\n  const requests = [\n    updateRowRequest('Черновики', draft.__row_number, updated)\n  ];\n  return [{json: {direct: false, requests, response: {success: true, action, request_id: requestId, data: {draft_id: draft.DRAFT_ID, status: updated.STATUS}, http_status: 200}, http_status: 200}}];\n}\n\nif (action === 'draft_purge') {\n  const draft = draftById(data.draft_id);\n  if (!draft) return responseError('DRAFT_NOT_FOUND', 'Черновик не найден.', 404);\n  if (String(data.confirm_name || '') !== String(draft.NAME || '')) {\n    return responseError('INVALID_REQUEST', 'Название для подтверждения не совпадает.', 422);\n  }\n\n  function deleteRequestsForRows(sheetName, rowNumbers) {\n    const sheetId = sheetMeta[sheetName]?.sheet_id;\n    return [...rowNumbers]\n      .sort((a, b) => b - a)\n      .map(rowNumber => ({\n        deleteDimension: {\n          range: {\n            sheetId,\n            dimension: 'ROWS',\n            startIndex: rowNumber - 1,\n            endIndex: rowNumber\n          }\n        }\n      }));\n  }\n\n  const draftId = String(draft.DRAFT_ID);\n  const deleteRequests = [\n    ...deleteRequestsForRows('Снимки', getSheet('Снимки').rows.filter(row => String(row.DRAFT_ID || '') === draftId).map(row => row.__row_number)),\n    ...deleteRequestsForRows('Версии', getSheet('Версии').rows.filter(row => String(row.DRAFT_ID || '') === draftId).map(row => row.__row_number)),\n    ...deleteRequestsForRows('Черновики', [draft.__row_number])\n  ];\n\n  const requests = [\n    {\n      method: 'POST',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}:batchUpdate`,\n      body: {requests: deleteRequests}\n    }\n  ];\n\n  return [{json: {direct: false, requests, response: {success: true, action, request_id: requestId, data: {draft_id: draftId, purged: true}, http_status: 200}, http_status: 200}}];\n}\n\nreturn responseError('INVALID_ACTION', 'Действие черновиков не реализовано.', 501);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        640
      ],
      "id": "47ef9f34-cf9c-47cc-8420-87c34491cf4f",
      "name": "Build draft plan"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_direct",
              "leftValue": "={{ $json.direct }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        640
      ],
      "id": "f2c818e5-be6b-4595-8282-cc27d989b282",
      "name": "IF draft direct"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || $json }}",
        "options": {
          "responseCode": "={{ $json.response?.http_status || $json.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1584,
        472
      ],
      "id": "08a77b23-2848-42fe-86db-c9ca557eefa8",
      "name": "Respond draft direct"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_request_1",
              "leftValue": "={{ $node['Build draft plan'].json.requests[0] !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        688
      ],
      "id": "39bae61e-8733-49ee-8a70-3f9caf1990ed",
      "name": "IF draft request 1"
    },
    {
      "parameters": {
        "method": "={{ $node['Build draft plan'].json.requests[0].method }}",
        "url": "={{ $node['Build draft plan'].json.requests[0].url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        616
      ],
      "id": "3ff838c1-aa16-4de3-bfd6-72d83dbbe759",
      "name": "Draft Sheets request 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_request_2",
              "leftValue": "={{ $node['Build draft plan'].json.requests[1] !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        688
      ],
      "id": "e4ba5153-a39b-4ad6-8997-57ee90704ee5",
      "name": "IF draft request 2"
    },
    {
      "parameters": {
        "method": "={{ $node['Build draft plan'].json.requests[1].method }}",
        "url": "={{ $node['Build draft plan'].json.requests[1].url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        616
      ],
      "id": "870512c7-ac14-461e-93c8-e10f8f4716fd",
      "name": "Draft Sheets request 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_request_3",
              "leftValue": "={{ $node['Build draft plan'].json.requests[2] !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        688
      ],
      "id": "5dab9160-71b3-4db2-9383-45a57c718968",
      "name": "IF draft request 3"
    },
    {
      "parameters": {
        "method": "={{ $node['Build draft plan'].json.requests[2].method }}",
        "url": "={{ $node['Build draft plan'].json.requests[2].url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        616
      ],
      "id": "15e7c7b6-b8bc-4f29-9a2a-6a2888042b91",
      "name": "Draft Sheets request 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "draft_request_4",
              "leftValue": "={{ $node['Build draft plan'].json.requests[3] !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        688
      ],
      "id": "3d144239-b50c-43b1-878a-7d1b705812d2",
      "name": "IF draft request 4"
    },
    {
      "parameters": {
        "method": "={{ $node['Build draft plan'].json.requests[3].method }}",
        "url": "={{ $node['Build draft plan'].json.requests[3].url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        616
      ],
      "id": "dcb26f59-9d42-4e8c-8544-5ba8db2d3d7b",
      "name": "Draft Sheets request 4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j68oP4jTpcKIyBYP",
          "name": "Google Sheets [ n8n.temed ]"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node['Build draft plan'].json.response }}",
        "options": {
          "responseCode": "={{ $node['Build draft plan'].json.response.http_status || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        688
      ],
      "id": "d89ddf1f-e081-418b-89af-063d70d3f0d1",
      "name": "Respond draft mutation"
    },
    {
      "parameters": {
        "content": "## Черновики в существующем workflow\n\nОдин webhook и один Header Auth.\n\nGoogle Sheets API вызывается через существующий credential:\nGoogle Sheets [ n8n.temed ]\n\nSpreadsheet ID:\n1DEpgU7rR7IsY0jF-Aarm25sFF4RkqPeEn2jm76DaBto\n\nGoogle Drive и Apps Script не используются.\n\nЛисты: Черновики / Версии / Снимки.\nПеред активацией привести заголовки трёх листов к упрощённой схеме из ТЗ.\nSpreadsheet ID задаётся в ноде «Prepare draft request».",
        "height": 420,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3280,
        816
      ],
      "id": "fbf47c32-32dd-4384-8374-f79a904a43ae",
      "name": "Draft setup notes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0282a372-8b50-4a81-80d8-fd547603383a",
              "leftValue": "={{ $json.is_transcribe_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3616,
        -320
      ],
      "id": "d067c07e-0d92-47cb-a719-fde113a90213",
      "name": "IF transcribe action"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\nconst data = src.data ?? {};\nconst action = src.action ?? 'transcribe_case';\nconst requestId = src.request_id;\n\nconst allowedMime = new Set([\n  'audio/ogg',\n  'audio/mpeg',\n  'audio/mp4',\n  'audio/x-m4a',\n  'audio/wav',\n  'audio/webm'\n]);\n\nconst extByMime = {\n  'audio/ogg': 'ogg',\n  'audio/mpeg': 'mp3',\n  'audio/mp4': 'mp4',\n  'audio/x-m4a': 'm4a',\n  'audio/wav': 'wav',\n  'audio/webm': 'webm'\n};\n\nconst mimeType = String(data.mime_type ?? '').trim().toLowerCase();\nconst base64 = String(data.audio_base64 ?? '').trim();\nconst filenameRaw = String(data.filename ?? '').trim();\n\nfunction fail(errorCode, message, httpStatus = 400, details = {}) {\n  return [{\n    json: {\n      valid: false,\n      success: false,\n      action,\n      request_id: requestId,\n      error_code: errorCode,\n      message,\n      details,\n      http_status: httpStatus\n    }\n  }];\n}\n\nif (!base64) {\n  return fail('EMPTY_AUDIO', 'Аудиофайл не передан.');\n}\n\nif (!allowedMime.has(mimeType)) {\n  return fail('UNSUPPORTED_MIME', 'Неподдерживаемый тип аудио.', 400, {\n    mime_type: mimeType,\n    allowed_mime: [...allowedMime]\n  });\n}\n\nconst padding = base64.endsWith('==') ? 2 : (base64.endsWith('=') ? 1 : 0);\nconst sizeBytes = Math.max(0, Math.floor(base64.length * 3 / 4) - padding);\nconst maxBytes = 25 * 1024 * 1024;\n\nif (sizeBytes > maxBytes) {\n  return fail('AUDIO_TOO_LARGE', 'Аудиофайл превышает 25 МБ.', 413, {\n    size_bytes: sizeBytes,\n    max_bytes: maxBytes\n  });\n}\n\nconst ext = extByMime[mimeType];\nconst hasExt = /\\.[a-z0-9]{1,5}$/i.test(filenameRaw);\nconst baseName = filenameRaw.replace(/\\.[a-z0-9]{1,5}$/i, '') || 'case-audio';\nconst fileName = hasExt ? filenameRaw : `${baseName}.${ext}`;\n\nreturn [{\n  json: {\n    valid: true,\n    action,\n    request_id: requestId,\n    filename: fileName,\n    mime_type: mimeType,\n    size_bytes: sizeBytes\n  },\n  binary: {\n    data: {\n      data: base64,\n      mimeType,\n      fileName,\n      fileExtension: ext\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        -800
      ],
      "id": "2a358b85-62a8-4867-b80d-a4b9222a112f",
      "name": "Prepare transcribe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9fa12e3b-1c72-4efe-b9b8-2f7bd5d0179d",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3056,
        -800
      ],
      "id": "741a9c2a-b95f-40b9-bd99-e7ab18694031",
      "name": "IF transcribe prepared"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2832,
        -800
      ],
      "id": "07c7722f-fcc5-4abf-8816-417077f55a84",
      "name": "Transcribe case audio",
      "credentials": {
        "openAiApi": {
          "id": "AYsswqQnu0370Vfk",
          "name": "OpenAi [ temed | cid ]"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1936,
        -800
      ],
      "id": "92f76e3b-7e39-43ad-9118-d3f6192dcbe0",
      "name": "Respond transcribe"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.text ?? $json.transcript ?? '').trim();\nconst prep = $('Prepare transcribe').first().json;\n\nconst instructions = `Ты обрабатываешь расшифровку голосового сообщения врача — клинический кейс для медицинской статьи. Задачи: (1) Причесать текст: исправить ошибки распознавания, особенно в медицинских терминах, названиях препаратов (МНН и торговые), дозировках, аббревиатурах (МРТ, ЭКГ, СОЭ и т.п.); расставить пунктуацию и абзацы; убрать слова-паразиты и повторы устной речи; НЕ добавлять фактов, которых нет в исходнике, НЕ менять клиническое содержание, дозировки и числа; если фрагмент неразборчив — пометить [неразборчиво]. (2) Написать аннотацию кейса в 2–4 предложениях: профиль/диагноз, что примечательного, к какому исходу пришли. (3) Предложить 4–6 тем статей, где кейс уместен: каждая — рабочее название + основной поисковый запрос + одна строка, чем кейс усилит статью. Ответ строго JSON без markdown и без пояснений вокруг JSON: {\"cleaned_transcript\": \"...\", \"summary\": \"...\", \"topics\": [{\"title\": \"...\", \"primary_query\": \"...\", \"fit\": \"...\"}]}`;\n\nconst prompt = `${instructions}\n\nИСХОДНАЯ РАСШИФРОВКА:\n${raw}\n`;\n\nreturn [{\n  json: {\n    action: prep.action ?? 'transcribe_case',\n    request_id: prep.request_id,\n    transcript_raw: raw,\n    prompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -800
      ],
      "id": "fc10854b-528b-4966-815f-0d2f150d1952",
      "name": "Prepare case processing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2384,
        -800
      ],
      "id": "f438dda5-4c2f-4dfe-b960-e0d94d25a23c",
      "name": "Process case model",
      "credentials": {
        "openAiApi": {
          "id": "AYsswqQnu0370Vfk",
          "name": "OpenAi [ temed | cid ]"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare case processing').first().json;\nconst transcriptRaw = String(prep.transcript_raw ?? '').trim();\n\nlet raw =\n  $json.message?.content\n  ?? $json.text\n  ?? $json.content\n  ?? $json.output\n  ?? $json.response\n  ?? '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nfunction extractObject(text) {\n  try {\n    return JSON.parse(text);\n  } catch (_) {}\n\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n\n  if (start >= 0 && end > start) {\n    return JSON.parse(text.slice(start, end + 1));\n  }\n\n  throw new Error('JSON object not found');\n}\n\nconst base = {\n  success: true,\n  action: prep.action ?? 'transcribe_case',\n  request_id: prep.request_id\n};\n\ntry {\n  const parsed = extractObject(raw);\n\n  if (!parsed || Array.isArray(parsed) || typeof parsed !== 'object') {\n    throw new Error('Model returned non-object JSON');\n  }\n\n  const cleaned = String(parsed.cleaned_transcript ?? '').trim();\n  const summary = String(parsed.summary ?? '').trim();\n  const topics = Array.isArray(parsed.topics)\n    ? parsed.topics.map((t) => ({\n        title: String(t?.title ?? '').trim(),\n        primary_query: String(t?.primary_query ?? '').trim(),\n        fit: String(t?.fit ?? '').trim()\n      })).filter((t) => t.title || t.primary_query)\n    : [];\n\n  return [{\n    json: {\n      ...base,\n      data: {\n        transcript_raw: transcriptRaw,\n        transcript: cleaned || transcriptRaw,\n        summary,\n        topics\n      },\n      http_status: 200\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...base,\n      processing_failed: true,\n      data: {\n        transcript_raw: transcriptRaw,\n        transcript: transcriptRaw,\n        summary: '',\n        topics: [],\n        processing_failed: true\n      },\n      details: {\n        error: String(error.message || error),\n        raw_preview: raw.slice(0, 2000)\n      },\n      http_status: 200\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        -800
      ],
      "id": "4faabdeb-1000-411a-a94a-f3d1597fa44c",
      "name": "Parse case JSON"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare request": {
      "main": [
        [
          {
            "node": "IF request valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF request valid": {
      "main": [
        [
          {
            "node": "IF transcribe action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond request error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF direct response": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse model JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse model JSON": {
      "main": [
        [
          {
            "node": "IF model result valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF model result valid": {
      "main": [
        [
          {
            "node": "Respond success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond model error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF start external uniqueness": {
      "main": [
        [
          {
            "node": "Prepare TEXT.RU submit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF get external uniqueness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TEXT.RU submit": {
      "main": [
        [
          {
            "node": "IF TEXT.RU submit prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT.RU — Submit text": {
      "main": [
        [
          {
            "node": "Normalize TEXT.RU submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize TEXT.RU submit": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF get external uniqueness": {
      "main": [
        [
          {
            "node": "Prepare TEXT.RU result request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF direct response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TEXT.RU result request": {
      "main": [
        [
          {
            "node": "IF TEXT.RU result prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT.RU — Get result": {
      "main": [
        [
          {
            "node": "Normalize TEXT.RU result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize TEXT.RU result": {
      "main": [
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF TEXT.RU submit prepared": {
      "main": [
        [
          {
            "node": "TEXT.RU — Submit text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF TEXT.RU result prepared": {
      "main": [
        [
          {
            "node": "TEXT.RU — Get result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft action": {
      "main": [
        [
          {
            "node": "Prepare draft request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF start external uniqueness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare draft request": {
      "main": [
        [
          {
            "node": "Draft sheets metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft sheets metadata": {
      "main": [
        [
          {
            "node": "Validate draft sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate draft sheets": {
      "main": [
        [
          {
            "node": "IF draft sheets valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft sheets valid": {
      "main": [
        [
          {
            "node": "Draft sheets batch get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond draft direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft sheets batch get": {
      "main": [
        [
          {
            "node": "Build draft plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build draft plan": {
      "main": [
        [
          {
            "node": "IF draft direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft direct": {
      "main": [
        [
          {
            "node": "Respond draft direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 1": {
      "main": [
        [
          {
            "node": "Draft Sheets request 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 1": {
      "main": [
        [
          {
            "node": "IF draft request 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 2": {
      "main": [
        [
          {
            "node": "Draft Sheets request 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 2": {
      "main": [
        [
          {
            "node": "IF draft request 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 3": {
      "main": [
        [
          {
            "node": "Draft Sheets request 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft request 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 3": {
      "main": [
        [
          {
            "node": "IF draft request 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF draft request 4": {
      "main": [
        [
          {
            "node": "Draft Sheets request 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond draft mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Sheets request 4": {
      "main": [
        [
          {
            "node": "Respond draft mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF transcribe action": {
      "main": [
        [
          {
            "node": "Prepare transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF draft action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare transcribe": {
      "main": [
        [
          {
            "node": "IF transcribe prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF transcribe prepared": {
      "main": [
        [
          {
            "node": "Transcribe case audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe case audio": {
      "main": [
        [
          {
            "node": "Prepare case processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare case processing": {
      "main": [
        [
          {
            "node": "Process case model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process case model": {
      "main": [
        [
          {
            "node": "Parse case JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse case JSON": {
      "main": [
        [
          {
            "node": "Respond transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ac9a1d8e7b09fb0f504f7d90e7ec36636be03ea59af94bfa8326a51562dd3c5"
  }
}
